<apex:page id="pg" standardController="DDL_Item__c" extensions="DueDiligenceListNew_NewController"
	title="{!$Label.DueDiligenceEdit_New_PageTitle}">
<style>
	.select-area{
		margin:1em 0;
	}
	.select-area-text{
		margin:0.5em 0;
	}
	.ddl-textarea{
		height:2.5em;
		width:30em;
	} 
</style>
<script type="text/javascript">
	function copySelect(){
		var selectList = document.getElementById('pg:frm:defaultItem');
		var itemTextBox = document.getElementById('pg:frm:pb:pbsNew:ItemField');
		itemTextBox.value = selectList.options[selectList.selectedIndex].text;
	}
</script>

<apex:sectionHeader title="{!$Label.DueDiligenceEdit_New_PageTitle}" subtitle="{!DDLName}" />

<apex:form id="frm">
	<div class="select-area">
		<div class="select-area-text">{!$Label.DueDiligenceEdit_New_Instructions}</div>
		<div class="select-area-select">
			<apex:selectList id="defaultItem" value="{!ddlRecord.Due_Diligence_List_Library__c}" size="1" onChange="copySelect();">
			    <apex:selectOptions value="{!ddListOptions}" />
			</apex:selectList>
		</div>
	</div>
	<apex:pageBlock id="pb">
		<apex:pageBlockButtons >
			<apex:commandButton value="Save" action="{!save}" />
			<apex:commandButton value="Cancel" action="{!cancel}" />
		</apex:pageBlockButtons>
		<apex:pageBlockSection id="pbsNew" columns="2">
			<apex:inputField styleClass="ddl-textarea" id="ItemField" value="{!ddlRecord.Item_Desc__c}" />
			<apex:inputField styleClass="ddl-textarea" value="{!ddlRecord.Comment__c}" />
		</apex:pageBlockSection>
	</apex:pageBlock>
</apex:form>
</apex:page>