<apex:page Controller="LinkLoanPortfolioController" >

	<apex:sectionHeader title="{!$Label.SearchPageTitle_PortfolioSearch}" subtitle="{!fromName}"/>
	<apex:form title="{!$Label.SearchPageTitle_PortfolioSearch}" >
		<apex:pageMessages />
		<table class="search-criteria" title ="{!$Label.SearchPageTitle_PortfolioSearch}" >
			<tr>
				<td>{!$Label.M2M_SearchLabel}</td>
				<td>
					<apex:inputText styleClass="search-criteria-textbox" value="{!searchTerm}" />
					<apex:commandButton action="{!goSearch}" value="{!$Label.M2M_SearchButton}" /> 
					<apex:commandButton action="{!newItem}" value="{!$Label.M2M_NewButton}" />
				</td>
			</tr>
			<tr>
				<td />
				<td>{!$Label.SearchInitialMsg_Portfolio}</td>
			</tr>
		</table>
		<apex:outputPanel id="results">
			<apex:pageBlock rendered="{!searchPerformed}">
				<apex:pageBlockTable rendered="{!results.size>0}" value="{!results}" var="result" >
				
					<apex:column headerValue="Name" >
						<apex:commandLink action="{!linkPortfolio}" >{!result['Name']}
			         		<apex:param name="resultID" value="{!result.Id}"/>
			        	</apex:commandLink>
					</apex:column>
				</apex:pageBlockTable>
				<apex:outputPanel rendered="{!AND(searchPerformed, results.size==0)}">
					<div class="no-results">
						<span class="no-results-text">{!$Label.LinkLoanPortfolio_NoMatchingRecords}</span>
					</div>
				</apex:outputPanel>
			</apex:pageBlock>
		</apex:outputPanel>
	</apex:form>
</apex:page>