<apex:page standardcontroller="Addresses__c">
<script>
function confirmSave() {
    if(confirm('This change will generate an automatic change of address notification letter to the client.\n\n Are you sure you want to continue?')) {
        return true;
    }
    return false;
}
</script>
<apex:messages />
	<apex:sectionheader title="{!$ObjectType.Addresses__c.label} Edit" subtitle="{!IF(ISNULL(Addresses__c.Name), 'New Address',Addresses__c.Name)}"/>
	<apex:form >
		<apex:pageblock mode="edit" title="{!$ObjectType.Addresses__c.label} Edit">
			<apex:pageblockbuttons >
				<apex:commandbutton value="Save" action="{!Save}" onclick="return confirmSave();"/>
				<apex:commandbutton value="Cancel" action="{!Cancel}"/>
			</apex:pageblockbuttons>

			<!-- **********   [Record Type : Master ]   **********  -->
			<apex:outputpanel >
				<apex:pageblocksection title="Information" showheader="true" columns="2">
					<apex:inputfield value="{!Addresses__c.Contact__c}" required="true"/>
					<apex:inputfield value="{!Addresses__c.Primary_Address__c}" required="false"/>
					<apex:inputfield value="{!Addresses__c.Street_Address__c}" required="false"/>
					<apex:inputfield value="{!Addresses__c.Address_Type__c}" required="false"/>
					<apex:inputfield value="{!Addresses__c.City__c}" required="false"/>
					<apex:inputfield value="{!Addresses__c.Duration_Start__c}" required="false"/>
					<apex:inputfield value="{!Addresses__c.State__c}" required="false"/>
					<apex:inputfield value="{!Addresses__c.Address_Label_Block__c}" required="false"/>
					<apex:inputfield value="{!Addresses__c.Postal_Code__c}" required="false"/>
					<apex:pageblocksectionitem />
				</apex:pageblocksection>
				<apex:pageblocksection title="System Information" showheader="true" columns="2">
					<apex:pageblocksectionitem />
					<apex:outputfield value="{!Addresses__c.Name}"/>
				</apex:pageblocksection>
			</apex:outputpanel>
		</apex:pageblock>
	</apex:form>
	
</apex:page>