<apex:page controller="DuplicateContactCtrl" action="{!Init}" >

 <apex:pageblock title="Duplicate List" >
		 
		 <apex:PageBlockTable value="{!dupList }" var="r" id="ContactPgBlockTable" style="margin:12px" columnsWidth="120px,120px ,110px,100px,100px,130px,100px,70px,100px,90px"  > 
    	<apex:column >
            <apex:facet name="header">
             {!$ObjectType.Contact.fields.FirstName.Label}
            </apex:facet>
            <apex:outputpanel rendered="{!r.contactVisibility=true}" >
                <a href="/{!r.contact.id}" style="color:green" target="_blank">{!r.contact.FirstName}</a>
            </apex:outputpanel>
            <apex:outputpanel rendered="{!r.contactVisibility=false}" >
                <apex:outputText style="color:red" value="{!r.contact.FirstName}" />
            </apex:outputpanel>
    </apex:column>
    <apex:column >
            <apex:facet name="header">
				{!$ObjectType.Contact.fields.LastName.Label}
            </apex:facet>
                <apex:outputpanel rendered="{!r.contactVisibility=true}" >
                <a href="/{!r.contact.id}" style="color:green" target="_blank">{!r.contact.LastName}</a>
            </apex:outputpanel>
            <apex:outputpanel rendered="{!r.contactVisibility=false}" >
                <apex:outputText style="color:red" value="{!r.contact.LastName}" />
            </apex:outputpanel>
           
    </apex:column>
  
    <apex:column width="90px" >
    	<apex:facet name="header">
           {!$ObjectType.Contact.fields.Contact_S_Number__c.Label}
    	</apex:facet>
     	<apex:outputText value="{!r.contact.Contact_S_Number__c}"/>
    </apex:column>
    <apex:column >
            <apex:facet name="header">
           		{!$ObjectType.Contact.fields.Other_Occupation__c.Label}
            </apex:facet>
            <apex:outputText value="{!r.contact.Other_Occupation__c}"/>
    </apex:column>
    <apex:column >
            <apex:facet name="header">
             {!$ObjectType.Contact.fields.Business_Name__c.Label}
            </apex:facet>
            <apex:outputText value="{!r.contact.Company_Business_Name__c }"/>
    </apex:column>
     <apex:column >
            <apex:facet name="header">
            Street Address
            </apex:facet>
            <apex:outputText value="{!r.contact.MailingStreet}"/>
    </apex:column>
    <apex:column >
            <apex:facet name="header">
            City
            </apex:facet>
            <apex:outputText value="{!r.contact.MailingCity}"/>
    </apex:column>
    <apex:column >
            <apex:facet name="header"> State</apex:facet>
            <apex:outputText value="{!r.contact.MailingState}"/>
    </apex:column>
    <apex:column >
            <apex:facet name="header">Contact Type           
            </apex:facet>
            <apex:outputText value="{!r.contact.RecordType.Name}"/>
    </apex:column>
    
    <apex:column >
            <apex:facet name="header">Owner</apex:facet>
            <apex:outputText value="{!r.contact.Primary_Owner__c}"/>
    </apex:column>
    <apex:column >
            <apex:facet name="header">{!$ObjectType.Contact.fields.Request_Access__c.Label}</apex:facet>
            <apex:outputpanel rendered="{!r.contactVisibility=false}" >
            	 <a  title="Click to request access" onclick="OpenAccessRequest('{!r.contact.Id}')" style="text-decoration: underline;">Request Access</a>
            </apex:outputpanel>
            
    </apex:column>
</apex:PageBlockTable>
</apex:PageBlock>
</apex:page>