<apex:page standardController="Mailing__c" extensions="ManageMailing_ExportController">
<style>
	.control-area{
		margin: 5px 0;
	}
	.control-element{
		margin-right: 10px;
	}
	.control-element label{
		margin: 0 5px;
	}
	.control-element input{
		margin: 0 5px;
	}
</style>
<apex:sectionHeader title="Manage Mailing Lists" />
<apex:pagemessages rendered="true" id="msgbox"/>

<apex:form >
<apex:pageBlock id="mainblock">
	<div class="control-area">
		<b>Select Mailing List</b>
		<span class="control-element">
			<label>Mailings:</label><apex:inputField value="{!selectedValueObj.Mailings__c}" />
			<label>Type:</label><apex:inputField value="{!selectedValueObj.Type__c}" />

			<apex:commandButton value=" Go! " action="{!getMailingRecs}" reRender="mainblock"/>
		</span>
		<apex:commandButton action="{!URLFOR('/apex/ManageMailing_Edit', null, [mailings=selectedValueObj.Mailings__c, type=selectedValueObj.Type__c, saveURL='/apex/ManageMailing_Export?mailings='&selectedValueObj.Mailings__c&'&type='&selectedValueObj.Type__c, retURL='/apex/ManageMailing_Export?mailings='&selectedValueObj.Mailings__c&'&type='&selectedValueObj.Type__c])}" 
			value="Add" rendered="{!mailingList.size!=0}"/>
		<apex:commandButton value=" Export " action="{!GenerateCSV}" rendered="{!isMarketingUser && mailingList.size!=0}"/>
	</div>
	<apex:outputPanel id="tablesection">
		<apex:outputPanel layout="block" styleClass="control-area" rendered="{!mailingList.size!=0}" >
		<b>Filters</b>
			<span class="control-element">
				<label>Keywords:</label><apex:inputText /> 
			</span>
			<span class="control-element">
				<label>Relationship Owner:</label><apex:inputField required="false" value="{!selectedOwnerObj.OwnerId}" />
			</span>
			<apex:commandButton value=" Filter Results " action="{!getMailingRecs}" disabled="true"/>
		</apex:outputPanel>

		<apex:pageBlockTable rendered="{!mailingList.size!=0}" value="{!mailingList}" var="a">
			<apex:column headerValue="Action">
				<a href="{!URLFOR($Action.Mailing__c.Edit, a.id, [saveURL='/apex/ManageMailing_Export?mailings='&selectedValueObj.Mailings__c&'&type='&selectedValueObj.Type__c, retURL='/apex/ManageMailing_Export?mailings='&selectedValueObj.Mailings__c&'&type='&selectedValueObj.Type__c])}">Edit</a> | 
				<a href="{!URLFOR($Action.Mailing__c.Delete, a.id, [retURL='/apex/ManageMailing_Export?mailings='&selectedValueObj.Mailings__c&'&type='&selectedValueObj.Type__c])}">Del</a>
			</apex:column>
			<apex:column value="{!a.Mailings__c}" rendered="{!IsBlank(selectedValueObj.Mailings__c)}"/>
			<apex:column value="{!a.Type__c}" rendered="{!IsBlank(selectedValueObj.Type__c)}"/>
			<apex:column value="{!a.Contact__r.FirstName}" />
			<apex:column value="{!a.Contact__r.LastName}" />
			<apex:column value="{!a.Salutation__c}" />
			<apex:column value="{!a.Address__r.Street_Address__c}" />
			<apex:column value="{!a.Address__r.City__c}" />
			<apex:column value="{!a.Address__r.State__c}" />
			<apex:column value="{!a.Address__r.Postal_Code__c}" headerValue="Zip"/>
			<apex:column value="{!a.Address__r.Country__c}" />
		</apex:pageBlockTable>
	</apex:outputPanel>
</apex:pageBlock>
</apex:form>

</apex:page>