<apex:page Controller="CloneLoanController2" action="{!initialiseObjectsForCloning}">
<Style>
.pbSubheader {
	display: none;
}
</Style>
  <apex:pageMessages />
  <apex:sectionHeader title="Clone: {!objectName}"/>
 
  <apex:form id="theform" >
	<apex:pageBlock title="{!objectName}">
		<apex:pageBlockSection title="" columns="2">
			<apex:repeat value="{!lstFields}" var="f" id="theRepeat">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$ObjectType.Loan__c.fields[f].Label}" for="txtinId"/>
					<apex:outputField id="txtinId" value="{!objLoanNew[f]}"/>          
				</apex:pageBlockSectionItem>                                
			</apex:repeat>          
		</apex:pageBlockSection> 
	</apex:pageBlock>
			  
    Please select the child objects you would like to clone.<br/><br/>
  
      <apex:repeat value="{!objectChildren}" var="child">
      <apex:PageBlock title="{!child.pluralLabel}"> 
        <apex:pageBlockTable value="{!child.objectRows}" 
                             var="objectRow">
            <apex:column headerValue="Clone">
            <apex:inputCheckbox value="{!objectRow.selected}"/>
          </apex:column> 
          
            <apex:repeat value="{!$ObjectType.Loan_Term__c.FieldSets.CloneLoanTerm}" var="f" rendered="{!objectRow.objName = 'Loan_Term__c'}" >
          	<apex:column >
				<apex:facet name="header" >{!$ObjectType.Loan_Term__c.fields[f].Label}</apex:facet>
				<apex:outputPanel rendered="{!objectRow.objName = 'Loan_Term__c'}" >
				
          			<apex:outputfield value="{!objectRow.obj[f]}"/>
				</apex:outputPanel>
          	</apex:column>
          </apex:repeat>  
          
          <apex:repeat value="{!$ObjectType.Loan_Property__c.FieldSets.CloneLoanProperty}" 
          			   var="f" rendered="{!objectRow.objName = 'Loan_Property__c'}" >
          	<apex:column >
<!-- 				<apex:facet name="header" >{!$ObjectType.Loan_Property__c.fields[f].Label}</apex:facet> -->
				<apex:outputPanel rendered="{!objectRow.objName = 'Loan_Property__c'}">
				
          			<apex:outputfield value="{!objectRow.obj[f]}"/>
				</apex:outputPanel>
          	</apex:column>
          </apex:repeat>  
          
          
        </apex:pageBlockTable>
      </apex:PageBlock>
    </apex:repeat>
    
<!--       <apex:repeat value="{!objectChildren}" var="child"> -->
<!--       <apex:PageBlock title="{!child.pluralLabel}">  -->
        
<!--         <apex:repeat value="{!child.objectRows}"  -->
<!--                              var="objectRow" > -->
<!--         	<table border="1"> -->
        	
<!--         	<apex:outputPanel rendered="{!objectRow.objName = 'Loan_Term__c'}" > -->
<!--         	<apex:repeat value="{!$ObjectType.Loan_Term__c.FieldSets.CloneLoanTerm}" var="f" > -->
<!--         		<th>{!$ObjectType.Loan_Term__c.fields[f].Label}</th> -->
<!--         	</apex:repeat> -->
<!--         	</apex:outputPanel> -->
        	
<!--         	<tr> -->
<!--         	<th>Clone</th> -->
<!--         	<apex:inputCheckbox value="{!objectRow.selected}"/> -->
<!--         	</tr> -->
        	
<!--         	<tr> -->
<!--         	<apex:outputPanel rendered="{!objectRow.objName = 'Loan_Term__c'}" > -->
<!--         		<apex:repeat value="{!$ObjectType.Loan_Term__c.FieldSets.CloneLoanTerm}" var="f" -->
<!--             									 rendered="{!objectRow.objName = 'Loan_Term__c'}"> -->
            		
<!--             			<apex:outputfield value="{!objectRow.obj[f]}"/> -->
												 
<!--             	</apex:repeat> -->
<!--             </apex:outputPanel> -->
<!--         	</tr> -->
<!--         	</table> -->
        	
            
<!--           </apex:repeat>   -->
<!--           </apex:PageBlock> -->
<!--           </apex:repeat> -->
          
    
    
    <apex:PageBlock >
      <apex:commandButton action="{!doClone}" value="Convert Assumption"/>
      <apex:commandButton action="{!Cancel}" value="Cancel"/> 
    </apex:PageBlock>
  </apex:form>  

</apex:page>