<apex:page standardController="Loan_Term__c" >
	<apex:pageMessages id="pgMsg" />
	
    <script type="text/javascript" src="/js/functions.js"></script>
    <script src="/soap/ajax/20.0/connection.js"></script>
    <script>
    window.onload = function()
    {
       sforce.connection.sessionId = "{!$Api.Session_ID}";
       init();
    };
    </script> 
    <script language="javascript">
        function init()
        {
        	var newRecords = []; 
			var objLoanTerm = new sforce.SObject("Loan_Term__c");  
			objLoanTerm.id =getParameterByName('id');
			if(getParameterByName('print') == 'true'){
				objLoanTerm.Print__c = false;
			}else if(getParameterByName('print') == 'false'){
				objLoanTerm.Print__c = true;
			}
			if(getParameterByName('final') == 'true'){
				objLoanTerm.Final__c = false;
			}else if(getParameterByName('final') == 'false'){
				objLoanTerm.Final__c = true;
			}
			newRecords.push(objLoanTerm);  
			result = sforce.connection.update(newRecords);
			
			if(!result[0].getBoolean("success"))
			{
				var arrErr = new Array();
				arrErr = result[0].getArray("errors");
				alert("Error :"+arrErr[0].get("message"));
// 				document.getElementById('errorMsg').innerHTML = arrErr[0].get("message");
				window.location = "/"+getParameterByName('id');
			}
			window.parent.location.replace('/'+getParameterByName('retUrl'));
			window.parent.location.reload(true);
			window.location = "/"+getParameterByName('retUrl');
        }
        function getParameterByName(name)
		{
			name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
			var regexS = "[\\?&]" + name + "=([^&#]*)";
			var regex = new RegExp(regexS);
			var results = regex.exec(window.location.search);
			if(results == null)
				return "";
			else
				return decodeURIComponent(results[1].replace(/\+/g, " "));
		}
		
     </script>
<!--      <div  id="errorMsg" style="font-size:16px"/> -->
<!--      <apex:outputText style="font-size: 14px" value="In order to go to previous page ,click on "/> -->
<!-- 	 <apex:outputLink style="font-size: 14px;font-style:italic" value="{!retUrl}">Previous </apex:outputLink> -->
<!-- 	<a href="/retUrl"  onClick="return redirect()">Previous</a> -->
</apex:page>