<apex:page Controller="NewPortfolioController" tabStyle="Portfolio__c">
	<apex:sectionHeader title="{!$Label.LinkLoanPortfolio_PortfolioEdit}" subtitle="{!$Label.LinkLoanPortfolio_NewPortfolio}"/>
	<apex:form >
		<apex:pageMessages />
		<apex:pageBlock title="{!$Label.LinkLoanPortfolio_PortfolioEdit}">
		<apex:pageBlockButtons >
			<apex:commandButton value="Save" action="{!saveAndLink}"/>
			<apex:commandButton value="Cancel" action="{!Cancel}"/>
		</apex:pageBlockButtons>
		<apex:pageBlockSection title="Information" columns="2">
		   <apex:pageBlockSectionItem >
		    	<apex:outputLabel value="{!$ObjectType.Portfolio__c.Fields.name.Label}" />
	        	<apex:inputField value="{!Portfolio.name}" />
	        </apex:pageBlockSectionItem> 
	        <apex:pageBlockSectionItem >	
	        	<apex:outputLabel value="Owner" />
	        	<apex:outputlabel value="{!user}"/>
	       </apex:pageBlockSectionItem> 
        </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>