<apex:page controller="PopulateReqdFieldsController" action="{!init}"
           sidebar="false"
           showHeader="false"
           standardStylesheets="true">
    <style type="text/css">
         
        #reqFields td{  
            font-size:14px; 
            padding-top:5px; 
            padding-left:5px;
            padding-bottom:4px;
        }
        #field{
            padding-left:30px;
        }
    </style>
    <apex:form >
    	<apex:pageMessages id="pgMsg" />
        <apex:outputPanel rendered="{!nextStatus == NULL}"> 
            <apex:outputText style="font-size:16px" value="{!$Label.PopulateReqdFields_NoReqdFields}"/>
        </apex:outputPanel>
        
        <apex:outputPanel rendered="{!nextStatus != NULL}">  
            <apex:outputText style="font-size:16px"
            				 value="You need to populate the following missing fields in order to move from {0} to {1}">
                 <apex:param value="{!loanStatus}"/>
       			 <apex:param value="{!nextStatus}"/>
            </apex:outputText>
            
<!--              <apex:repeat value="{!mapReqdFields}" var="map">  -->
<!--                 <table width="100%" id="reqFields" > -->
<!--                     <tr width="60%"> -->
<!--                         <td width="5%"> -->
<!--                             <b>{!mapObjectName[map]} &nbsp;&nbsp; -->
<!--                             <apex:outputLink value="/{!map}" id="theLink" target="_blank">{!mapRecordName[map]}</apex:outputLink>    -->
<!--                             </b> -->
<!--                         </td> -->
<!--                     </tr>  -->
<!--                     <apex:repeat value="{!mapReqdFields[map]}" var="field" > -->
<!--                     	 <tr width="5%">  -->
<!-- 		                        <td id="field"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; {!field}</td> -->
<!-- 	                    </tr>  -->
<!--                     </apex:repeat>    -->
<!--                 </table> -->
<!--             </apex:repeat> -->
            
            
<!--             <br/> -->
<!--             Changes -->
            
             <apex:repeat value="{!mapReqdFields}" var="map">
                <table width="100%" id="reqFields" >
                    <tr width="60%">
                        <td width="5%">
                            <b>{!mapObjectName[map]} &nbsp;&nbsp;
                            <apex:outputLink value="/{!map}" id="theLink" target="_blank">{!mapRecordName[map]}</apex:outputLink>   
                            </b>
                        </td>
                    </tr> 
                     <apex:repeat value="{!mapFields[map]}" var="field" rendered="{!mapReFields[map]}"> 
                    	 <tr width="5%">  
		                 	<td id="field"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; {!field}</td> 
 	                    </tr> 
                    </apex:repeat>  
                    <apex:repeat value="{!mapSection[map]}" var="Section" rendered="{!mapSec[map]}">
	                    <tr width="5%">
	                        <td id="field"> <b> &nbsp;&nbsp;&nbsp;&nbsp; {!Section} </b></td>
	                    </tr>
	                    <apex:repeat value="{!mapSectionFields[map+'_'+Section]}" var="fields">
		                    <tr width="5%">
		                        <td id="field"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; {!fields}</td>
		                    </tr>
	                    </apex:repeat>
                    </apex:repeat> 
                </table>
            </apex:repeat>
        </apex:outputPanel>
    </apex:form>
</apex:page>