<apex:page controller="CampaignDetailsController">

    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" />
    <apex:includeScript value="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js" />
    <apex:includeScript value="//code.jquery.com/ui/1.10.2/jquery-ui.js" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script type='text/javascript'>
       j$ = jQuery.noConflict();
        /** Temporary Bug Fix for iOS 8 Touch/Scroll Bug */
        (function(){
            try{
                var a = navigator.userAgent; 
                if( ( a.indexOf( 'Salesforce' ) != -1 ) && ( a.indexOf( 'iPhone' ) != -1 || a.indexOf( 'iPad' ) != -1 ) && ( a.indexOf( 'OS/8' ) != -1 || a.indexOf( 'OS 8' ) != -1 ) && ( a.indexOf( 'Safari' ) == -1 ) ) { 
                        var s = document.createElement('style');
                        s.innerHTML="html,html body{overflow: auto;-webkit-overflow-scrolling:touch;}body{position:absolute;left:0;right:0;top:0;bottom:0;}";
                        document.getElementsByTagName('head')[0].appendChild(s);
                    }
            } catch(e) {}
        })();
   </script>
<!--     <apex:sectionheader title="{!$ObjectType.Campaign.label}" subtitle="{!IF(ISNULL(Campaign.Name), 'New Campaign',Campaign.Name)}"/> -->
    <apex:form >
        <apex:pageblock mode="edit" title="Campaign Details"> 
                <apex:pageblocksection showheader="false" columns="2">
                    <apex:repeat value="{!lstwrapCamp}" var="campMemObj">
                        <apex:outputText label="Name" value="{!campMemObj.campMember.Name}"/>
                         <apex:outputText label="Start Date" value="{!campMemObj.StartDate}"/>
                    </apex:repeat>
                </apex:pageblocksection>
        </apex:pageblock>
    </apex:form>

</apex:page>