<apex:page controller="MyAccountsCtrl" sidebar="false" standardStylesheets="false"
	showHeader="false" docType="html-5.0">
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
		<script>
			var xStart, yStart = 0;
			document.addEventListener('touchstart',function(e) {
		    	xStart = e.touches[0].screenX;
		    	yStart = e.touches[0].screenY;
			});
			document.addEventListener('touchmove',function(e) {
		    	var xMovement = Math.abs(e.touches[0].screenX - xStart);
		    	var yMovement = Math.abs(e.touches[0].screenY - yStart);
		    	if((yMovement * 3) > xMovement) {
		        	e.preventDefault();
		    	}
			});	
		</script>
		<script type='text/javascript'>
		     (function(){
		         try{
		             var a = navigator.userAgent; 
		             if( ( a.indexOf( 'Salesforce' ) != -1 ) && ( a.indexOf( 'iPhone' ) != -1 || a.indexOf( 'iPad' ) != -1 ) && ( a.indexOf( 'OS/8' ) != -1 || a.indexOf( 'OS 8' ) != -1 ) && ( a.indexOf( 'Safari' ) == -1 ) ) { 
		                     var s = document.createElement('style');
		                     s.innerHTML="html,html body{overflow: auto;-webkit-overflow-scrolling:touch;}body{position:absolute;left:0;right:0;top:0;bottom:0;}";
		                     document.getElementsByTagName('head')[0].appendChild(s);
		                 }
		         } catch(e) {}
		     })();
		</script>
		<script type='text/javascript'>
			$(document).ready(function() {
  				$(".portfolio-info").each(function(i) {
  					$(this).hide();
  				});		  		
		  		$(document.getElementById('networth')).show();
				$(".portfolio-heading").on("click", function() {
		    		$(this).css("background", "#A4A4A4");
				    var selId = $(this).attr("id");
				    $("div[id^='id']").each(function () {
				        if(selId == $(this).attr("id")){
				        
				        }else{
				            $(this).css("background", "gray");
				        }
				    });   	
	  				$(".portfolio-info").each(function(i) {
	  					$(this).hide();
	  				});					    
				    if(selId == 'id1')
				    	$(document.getElementById('networth')).show();
				    else if(selId == 'id2')		    		
				    	$(document.getElementById('cash')).show();
				    else if(selId == 'id3')		    		
				    	$(document.getElementById('credits')).show();				    	
				    else if(selId == 'id4')		    		
				    	$(document.getElementById('investment')).show();	
				    else if(selId == 'id5')		    		
				    	$(document.getElementById('loan')).show();	
				    else if(selId == 'id6')		    		
				    	$(document.getElementById('property')).show();					    					    					    	
				});		  		
		  	});
			function setImage(strMode){
				if(strMode == '1D')
					document.getElementById('myAccImg').src = "{!$Resource.BNYMWM_MY_FA_1D}";
				if(strMode == '1M')
					document.getElementById('myAccImg').src = "{!$Resource.BNYMWM_MY_FA_1M}";
				if(strMode == '3M')
					document.getElementById('myAccImg').src = "{!$Resource.BNYMWM_MY_FA_3M}"; 
				if(strMode == '6M')
					document.getElementById('myAccImg').src = "{!$Resource.BNYMWM_MY_FA_6M}";
				if(strMode == '1Y')
					document.getElementById('myAccImg').src = "{!$Resource.BNYMWM_MY_FA_1Y}";
				if(strMode == 'ALL')
					document.getElementById('myAccImg').src = "{!$Resource.BNYMWM_MY_FA_ALL}"; 					 					 										
			} 		  
		</script>
	</head>
	<style type="text/css">
	    <!-- Spacing for the Nav bar --> 
	    .nav-pills > li.active > a,
	    .nav-pills > li.active > a:hover,
	    .nav-pills > li.active > a:focus {
	        background-color: goldenrod !important;
	    }
		.tabContent {
			color: black;
		}
		.dropdown {
			color: goldenrod;
		}
	</style>

	<style type="text/css">
		.container {
			width: 100%;
			padding-right: 0px;
			padding-left: 0px;
			margin-right: 0px;
			margin-left: 0px;
		}
		.container-fluid {
			padding-right: 0px;
			padding-left: 0px;
			margin-right: 0px;
			margin-left: 0px;
		}
		.carousel-indicators {
			bottom: -16%;
		}
		.portfolio-info{
			margin-left: 0%; 
			margin-top: 0%;
		}
		.carousel .active,.carousel .next,.carousel .prev {
			display: inline-block;
		}
		.dropdown-menu a:hover {
			background: #585858 !important;
		}
		.panel {
			margin-bottom: 0px;
			border-radius: 0px;
		}
		.row {
			margin-right: 0px;
			margin-left: 0px;
		}
		.col-md-6 {
			padding-right: 0px;
			padding-left: 0px;
			border-bottom-color: white;
			width: 100% !important;
			border: 0px;
		}
		.col-md-12 {
			padding-right: 0px;
			padding-left: 0px;
		}
		.panel-body {
			padding: 0px;
		}
		.panel-heading {
			border-radius: 0px;
			height: 40px;
		}
		.col-md-2,.col-md-10 {
			padding: 0;
		}
		.col-md-2 {
			width: 6% !important;
		}
		.currentVal{
			margin-left: 60%;
		}		
		body {
			padding: 0;
			margin: auto;
			overflow-y: hidden;
		}

		.box1 {width: 33% !important;height: 67% !important;position: absolute !important;top: 7% !important;left: 0 !important;font-family: Helvetica !important;
		}
		.box2 {width: 67% !important;height: 67% !important;position: absolute !important;top: 7% !important;
			right: 0 !important;border-left: 1px solid #BDBDBD;font-family: Helvetica;
		}
		.boxbanking {width: 33% !important;height: 33% !important;position: absolute !important;top: 67% !important;left: 0 !important;font-family: Helvetica !important;
		}
		.boxMessage {width: 67% !important;height: 33% !important;position: absolute !important;top: 67% !important;
			left: 33% !important;right: 0 !important;border-left: 1px solid #BDBDBD;font-family: Helvetica;
		}
		#wrapper div {
			width: calc(100%/ 8.5);
			display: inline-block;
		}
		.heading {
			background: #948F6C;
			color: #fff;
			padding: 4px 20px;
			width: 100%;
			font-size: 20px;
			font-weight: bold;
		}
		.boxDiv {
			position: relative;
			height: 100%;
			width: 100%;
		}
		.portfolio-body{
			height:105px !important; 
			color:gray;
			text-align:center;
		}
		.portfolio-heading{
			color: white;
			background-color: gray;
			text-decoration: none !important;
			padding:5% !important;
			height:60px;
			border-bottom: 1px solid white;
			cursor:pointer;
		}
		.carousel-indicators {
			position: absolute;
			bottom: -25px;
		}
		.panel-group .panel+.panel {
			margin-top: 0px;
		}
		.carousel {
			position: relative;
			min-height: 140px;
		}
		
		.car-ind {
			bottom: -17%;
		}

		.carousel-indicators li {
			border: 0px #fff;
		}
		.anchor_color {
			color: black;
		}
		.graph_desktop {
			margin-left: 8%;
		}
		.msg-area{
			width: 97% !important; 
			position: absolute !important; 
			margin-left:2%;
		}
		.msg_container {
			padding: 0px !important;
		}
		.textSentStyle {
			margin-left: 8% !important;
		}
		.panel-title:hover {
		     cursor: pointer;
		}
		.header-portfolio{
			background-color: #848484;
			color: white;
			border-bottom: 1px solid white;	
		}
		.hhold{
			margin-top:1%;
		}
		.nWorth{
			margin-top:2%;
		}
		.sidebar-animate{width : 33% !important;}
		.topPanel{
			height:20%;
		}
		.bottomPanel{
			height:80%;
			border:1px solid red;
			height:250px;
		}
		.middlePanel{
			margin-left: 4%;		
		}
		.caret1{
		    border: 10px solid transparent;
		    display: inline-block;
		    width: 0;
		    height: 0;
		    opacity: 0.5;
		    margin-right: 5px;
		}		
		.caret1.up {
		    border-bottom: 13px solid;
		}
		.img-flex{
			width:100%;
			Height:350px;
		}		
	@media only screen and (min-width : 768px) and (max-width : 1024px) {
		body {
			padding: 0;
			margin: auto;
			overflow-y:hidden;
		}
		.box1 {width: 33% !important;height: 60% !important;position: absolute !important;top: 7% !important;left: 0 !important;font-family: Helvetica !important;
		}
		.box2 {width: 67% !important;height: 60% !important;position: absolute !important;top: 7% !important;
			right: 0 !important;border-left: 1px solid #BDBDBD;font-family: Helvetica;
		}
		.boxbanking {width: 33% !important;height: 33% !important;position: absolute !important;top: 67% !important;left: 0 !important;font-family: Helvetica !important;
		}
		.boxMessage{width: 67% !important; height: 33% !important; position: absolute !important; top:67% !important; 
			left:33% !important;right:0; border-left: 1px solid #BDBDBD;font-family: Helvetica;}
		.carousel-indicators {
			bottom: -38%;
		}
		.car-ind {
			bottom: -15%;
		}
		.graph_desktop {
			margin-left: 0%
		}
		.portfolio-body{
			height:155px !important; 
			color:gray;
			text-align:center;
		}	
		.portfolio-heading{
			height:68px;
		}		
		.hhold{
			margin-top:3%;
		}
		.nWorth{
			margin-top:6%;
		}	
		.currentVal{
			margin-left: 45%;
		}		
		.img-flex{
			width:100%;
			Height:400px;
		}		
	}

	@media only screen and (min-width : 768px) and (max-width : 1024px)and
		(orientation: portrait) {
		.carousel-indicators {
			bottom: -50px !important;
		}
		.carousel {
			position: relative;
			min-height: 210px;
		}
	}
</style>
	<div class="container">
		<c:Header />
		<div class="box1">
			<div class="boxDiv">
				<div class="col-md-6 panel panel-default">
					 <div class="panel-heading " style="background-color: #948F6C;padding:2%;">
						 <h3 class="panel-title">
							<b style="color: white">My Portfolio</b>
						 </h3>
					 </div>

					 <div>
				      	<div id="id1" class="panel-heading portfolio-heading" Style="background:#A4A4A4;">
				        	<h4 class="panel-title">
				          		NET WORTH
				        	</h4>
				      	</div>
				      	<div id="id2" class="panel-heading portfolio-heading">
				        	<h4 class="panel-title">
				          		CASH
				        	</h4>
				      	</div>
				    	<div id="id3" class="panel-heading portfolio-heading">
				      		<h4 class="panel-title">
				          		CREDITS
				        	</h4>
				      	</div>
				    	<div id="id4" class="panel-heading portfolio-heading">
				      		<h4 class="panel-title">
				          		INVESTMENT
				        	</h4>
				      	</div>
				    	<div id="id5" class="panel-heading portfolio-heading">
				      		<h4 class="panel-title">
				          		LOANS
				        	</h4>
				      	</div>
				    	<div id="id6" class="panel-heading portfolio-heading">
				      		<h4 class="panel-title">
				          		PROPERTY
				        	</h4>
				      	</div>
					  </div> 
				</div>
			</div>
		</div>

		<div class="box2">
			<div class="boxDiv">
				<div class="col-md-6 panel panel-default">
					<div class="panel-heading " style="background-color: #948F6C">
					</div>
					<div id="networth" class="portfolio-info">
						<div> 
							<img id="myNWImg" src="{!$Resource.BNYMWM_PF_NET_WORTH}" class="img-responsive img-flex" />
						</div>
<!-- 						<div id = "wrapper" Style="height: 20px;"> -->
<!-- 					        <div class="my_acc_graph_mobile"><a class="anchor_color" href="#" name="1D" onClick="setImage('1D');">1D</a></div> -->
<!-- 	    								<div class="my_acc_graph_mobile"><a class="anchor_color" href="#" name="1M" onClick="setImage('1M');">1M</a></div> -->
<!-- 	    								<div class="my_acc_graph_mobile"><a class="anchor_color" href="#" name="3M" onClick="setImage('3M');">3M</a></div> -->
<!-- 					        <div class="my_acc_graph_mobile"><a class="anchor_color" href="#" name="6M" onClick="setImage('6M');">6M</a></div> -->
<!-- 					        <div class="my_acc_graph_mobile"><a class="anchor_color" href="#" name="1Y" onClick="setImage('1Y');">1Y</a></div> -->
<!-- 					        <div class="my_acc_graph_mobile"><a class="anchor_color" href="#" name="ALL" onClick="setImage('ALL');">ALL</a></div> -->
<!-- 						</div>					 -->
<!-- 						<div class="topPanel">
							<h3> My Net Worth</h3>
						</div>
						<div class="middlePanel">
							CURRENT VALUE
								<h3 class="currentVal"> 	
									<apex:outputText value="${0,number,###,###,###,##0.00}">
										<apex:param value="{!TotalCurrentValue}" />
									</apex:outputText>
								</h3>							
						</div>
						<div class="middlePanel" Style="margin-left:86%;color: green;font-size: 18px;">
							<span class="caret1 up"></span>3%
						</div>						
						<div class="bottomPanel">
						</div> -->
					</div>					
					<div id="cash" class="portfolio-info">
<!-- 						<c:MyAccounts />  -->
                        <div> 
                            <img id="myCashImg" src="{!$Resource.BNYMWM_PF_CASH}" class="img-responsive img-flex" />
                        </div>

					</div>
					<div id="credits" class="portfolio-info">
                        <div> 
                            <img id="myCreditImg" src="{!$Resource.BNYMWM_PF_CREDITS}" class="img-responsive img-flex" />
                        </div>
					</div>
<!-- 						<div class="topPanel"> -->
<!-- 							<h3> My Credit Accounts</h3> -->
<!-- 						</div> -->
<!-- 						<div class="middlePanel"> -->
<!-- 							CURRENT VALUE -->
<!-- 								<h3 class="currentVal"> 	 -->
<!-- 									<apex:outputText value="${0,number,###,###,###,##0.00}"> -->
<!-- 										<apex:param value="{!TotalCurrentValue}" /> -->
<!-- 									</apex:outputText> -->
<!-- 								</h3>							 -->
<!-- 						</div> -->
<!-- 						<div class="bottomPanel" Style="margin-top:3.2%;"> -->
						
<!-- 						</div> -->
<!-- 					</div>	 -->
					<div id="investment" class="portfolio-info">
                        <div> 
                            <img id="myCreditImg" src="{!$Resource.BNYMWM_PF_INVESTMENT}" class="img-responsive img-flex" />
                        </div>
					</div>
<!-- 						<div class="topPanel"> -->
<!-- 							<h3> My Investment Accounts</h3> -->
<!-- 						</div> -->
<!-- 						<div class="middlePanel"> -->
<!-- 							CURRENT VALUE -->
<!-- 								<h3 class="currentVal"> 	 -->
<!-- 									<apex:outputText value="${0,number,###,###,###,##0.00}"> -->
<!-- 										<apex:param value="{!TotalCurrentValue}" /> -->
<!-- 									</apex:outputText> -->
<!-- 								</h3>							 -->
<!-- 						</div> -->
<!-- 						<div class="middlePanel" Style="margin-left:86%;color: green;font-size: 18px;"> -->
<!-- 							<span class="caret1 up"></span>3% -->
<!-- 						</div>						 -->
<!-- 						<div class="bottomPanel"> -->
							
<!-- 						</div> -->
<!-- 					</div>	 -->
					<div id="loan" class="portfolio-info">
                        <div> 
                            <img id="myCreditImg" src="{!$Resource.BNYMWM_PF_LOAN}" class="img-responsive img-flex" />
                        </div>
                    </div>
<!-- 						<div class="topPanel"> -->
<!-- 							<h3> My Loans</h3> -->
<!-- 						</div> -->
<!-- 						<div class="middlePanel"> -->
<!-- 							CURRENT VALUE -->
<!-- 								<h3 class="currentVal"> 	 -->
<!-- 									<apex:outputText value="${0,number,###,###,###,##0.00}"> -->
<!-- 										<apex:param value="{!TotalCurrentValue}" /> -->
<!-- 									</apex:outputText> -->
<!-- 								</h3>							 -->
<!-- 						</div> -->
<!-- 						<div class="bottomPanel" Style="margin-top:3.2%;"> -->
						
<!-- 						</div> -->
<!-- 					</div>	 -->
					<div id="property" class="portfolio-info">
                        <div> 
                            <img id="myCreditImg" src="{!$Resource.BNYMWM_PF_PROPERTY}" class="img-responsive img-flex" />
                        </div>
					</div>
<!-- 						<div class="topPanel"> -->
<!-- 							<h3> My Properties</h3> -->
<!-- 						</div> -->
<!-- 						<div class="middlePanel"> -->
<!-- 							CURRENT VALUE -->
<!-- 								<h3 class="currentVal"> 	 -->
<!-- 									<apex:outputText value="${0,number,###,###,###,##0.00}"> -->
<!-- 										<apex:param value="{!TotalCurrentValue}" /> -->
<!-- 									</apex:outputText> -->
<!-- 								</h3>							 -->
<!-- 						</div> -->
<!-- 						<div class="bottomPanel" Style="margin-top:3.2%;"> -->
						
<!-- 						</div> -->
<!-- 					</div>																 -->
				</div>
			</div>
		</div>
		<c:MyBankingTeam />
		<c:MyMessages />
	</div>
</apex:page>