<apex:page standardController="Contact" showheader="false">
    <apex:form >
    <apex:pageBlock >
        <apex:pageBlockSection >
      <apex:inputField value="{!contact.Annual_Salary__c}"/>
      </apex:pageBlockSection>
              <apex:pageBlockSection >
              <apex:pageblockSectionItem >
      <apex:inputField value="{!contact.Annual_Bonus__c}"/>
      </apex:pageblockSectionItem>
      </apex:pageBlockSection>
     </apex:pageBlock> 
    </apex:form>

</apex:page>