<apex:component controller="HeaderController">  
       <head>
       <script src="sidebar.js"></script>
       <link rel="stylesheet" href="sidebar.css" />
       <script type="text/javascript" >
        /* ========================================================================
         * Bootstrap: sidebar.js v0.1
         * ======================================================================== */
        
        +function ($) {
          'use strict';
        
          // SIDEBAR PUBLIC CLASS DEFINITION
          // ================================
        
          var Sidebar = function (element, options) {
            this.$element      = $(element)
            this.options       = $.extend({}, Sidebar.DEFAULTS, options)
            this.transitioning = null
        
            if (this.options.parent) this.$parent = $(this.options.parent)
            if (this.options.toggle) this.toggle()
          }
        
          Sidebar.DEFAULTS = {
            toggle: true 
          }
        
          Sidebar.prototype.show = function () {
            if (this.transitioning || this.$element.hasClass('sidebar-open')) return
            
        
            var startEvent = $.Event('show.bs.sidebar')
            this.$element.trigger(startEvent);
            if (startEvent.isDefaultPrevented()) return
        
            this.$element
              .addClass('sidebar-open')
        
            this.transitioning = 1
        
            var complete = function () {
              this.$element
              this.transitioning = 0
              this.$element.trigger('shown.bs.sidebar')
            }
        
            if(!$.support.transition) return complete.call(this)
        
            this.$element
              .one($.support.transition.end, $.proxy(complete, this))
              .emulateTransitionEnd(400)
          }
        
          Sidebar.prototype.hide = function () {
            if (this.transitioning || !this.$element.hasClass('sidebar-open')) return
        
            var startEvent = $.Event('hide.bs.sidebar')
            this.$element.trigger(startEvent)
            if(startEvent.isDefaultPrevented()) return
        
            this.$element
              .removeClass('sidebar-open')
        
            this.transitioning = 1 
        
            var complete = function () {
              this.transitioning = 0
              this.$element
                .trigger('hidden.bs.sidebar')
            }
        
            if (!$.support.transition) return complete.call(this)
        
            this.$element
              .one($.support.transition.end, $.proxy(complete, this))
              .emulateTransitionEnd(400)
          }
        
          Sidebar.prototype.toggle = function () {
            this[this.$element.hasClass('sidebar-open') ? 'hide' : 'show']()
          }
        
          var old = $.fn.sidebar
        
          $.fn.sidebar = function (option) {
            return this.each(function (){
              var $this = $(this)
              var data = $this.data('bs.sidebar')
              var options = $.extend({}, Sidebar.DEFAULTS, $this.data(), typeof options == 'object' && option)
        
              if (!data && options.toggle && option == 'show') option = !option
              if (!data) $this.data('bs.sidebar', (data = new Sidebar(this, options)))
              if (typeof option == 'string') data[option]()
            })
          }
        
          $.fn.sidebar.Constructor = Sidebar
        
          $.fn.collapse.noConflict = function () {
            $.fn.sidebar = old
            return this
          }
        
          $(document).on('click.bs.sidebar.data-api', '[data-toggle="sidebar"]', function (e) {
            var $this = $(this), href
            var target = $this.attr('data-target')
                || e.preventDefault()
                || (href = $this.attr('href')) && href.replace(/.*(?=#[^\s]+$)/, '')
            var $target = $(target)
            var data = $target.data('bs.sidebar')
            var option = data ? 'toggle' : $this.data()
        
            $target.sidebar(option)
          })
        
          $('html').on('click.bs.sidebar.autohide', function(event){
            var $this = $(event.target);
            var isButtonOrSidebar = $this.is('.sidebar, [data-toggle="sidebar"]') || $this.parents('.sidebar, [data-toggle="sidebar"]').length;
            if (isButtonOrSidebar) {
              return;
            } else {
              var $target = $('.sidebar');
              $target.each(function(i, trgt) {
                var $trgt = $(trgt);
                if($trgt.data('bs.sidebar') && $trgt.hasClass('sidebar-open')) {
                    $trgt.sidebar('hide');
                }
              })
            }
          });
        }(jQuery);
     </script>

          <style type="text/css">
            <!-- Spacing for the Nav bar --> 
            .nav-pills > li.active > a,
            .nav-pills > li.active > a:hover,
            .nav-pills > li.active > a:focus {
                background-color: goldenrod !important;
            }
            .dropdown {
                color: goldenrod;
            }
            .dropdown-menu a:hover{
                background:#585858  !important;
            }
            .navbar {
                margin-bottom: 0px;
            }
            .panel-body {
                padding:0px;
            }           
            .panel-heading {
                padding: 1% 2%;
                border-radius: 0px;
            }
           .col-md-6{
                padding-right: 0px; 
                padding-left: 0px; 
                border-bottom-color:white;
                width:100% !important;
                border:0px;
            }
           .container-fluid{
                padding-right: 0px;
                padding-left: 0px;
                margin-right: 0px;
                margin-left: 0px;   
            }
        </style>

        <style type="text/css">
        /* this is only to style the sidebar - you can make the sidebar look any way you want */
        .sidebar {
          background-color: #ddd;
          border-right: 1px solid #eee;
        }
        </style>
        
        
        <style type="text/css">
        .navbar.navbar-static .navbar-header {
          float: left;
        }
        
        .navbar .navbar-toggle.toggle-left {
          float: left;
          margin-left: 15px;
        }
        
        .navbar .navbar-toggle.toggle-right {
          float: right;
          margin-right: 15px;
        }
        
        .navbar .navbar-toggle.toggle-sidebar, [data-toggle="sidebar"] {
          display: block;
        }
        
        /* sidebar settings */
        .sidebar {
          position: fixed;
          display: block;
          top: 7%;
          bottom:0;
          z-index: 1000;
          min-height: 100%;
          max-height: none;
          overflow: auto;
        }
        
        .sidebar-left {
          left: 0;
        }
        
        .sidebar-right {
          right: 0;
        }
        
        /* css to override hiding the sidebar according to different screen sizes */  
        .row .sidebar.sidebar-left.sidebar-xs-show {
          left: 0;
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
          -moz-transform: none;
        }
        
        /*right sidebar is untested */
        .row .sidebar.sidebar-right.sidebar-xs-show {
          right: 0;
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
          -moz-transform: none;
        }  
          
        @media (min-width: 10%) {
          .row .sidebar.sidebar-left.sidebar-sm-show {
            left: 0;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            -moz-transform: none;
          }
        
         /*right sidebar is untested */
          .row .sidebar.sidebar-right.sidebar-sm-show {
            right: 0;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            -moz-transform: none;
          }  
        } 
        
        @media (min-width: 15%) {
          .row .sidebar.sidebar-left.sidebar-md-show {
            left: 0;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            -moz-transform: none;
          }
          .row .sidebar.sidebar-right.sidebar-md-show {
            right: 0;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            -moz-transform: none;
          }
        }
        
        @media (min-width: 17%px) {
          .row .sidebar.sidebar-left.sidebar-lg-show {
            left: 0;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            -moz-transform: none;
          }
          .row .sidebar.sidebar-right.sidebar-lg-show {
            right: 0;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            -moz-transform: none;
          }
        }
        
        /* animation class - optional: without it the sidebar would just pop in and out*/
        .sidebar-animate {
          -webkit-transition: -webkit-transform 300ms ease;
          -moz-transition: -moz-transform 300ms ease;
          transition: transform 300ms ease;
        }
        
        /* Left panel positioning classes */
        .sidebar.sidebar-left {
          -webkit-transform: translate3d(-100%,0,0);
          -moz-transform: translate3d(-100%,0,0);
          transform: translate3d(-100%,0,0);
        }
        
        .sidebar.sidebar-left.sidebar-open {
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
          -moz-transform: none;
        }
        
        /* TODO: TEST THIS! Right panel positioning classes*/
        .sidebar.sidebar-right {
          -webkit-transform: translate3d(100%,0,0);
          -moz-transform: translate3d(100%,0,0);
          transform: translate3d(100%,0,0);
        }
        
        .sidebar.sidebar-right.sidebar-open {
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
          -moz-transform: none;
        }
    </style>
        </head>

        <style>
        .top { width: 100%; height: 7%; background: #5A5A5A; font-family: Helvetica; }
             .navMenu{margin-top: -3.0%; margin-left: 85.4% !important;"}
             .navMenu-img{width:13%;border: 2px solid White; margin-right: 10px;}
        @media only screen and (min-width : 768px) and (max-width : 1024px) {
            .top { width: 100%; height: 7%; position: absolute; background: #5A5A5A;font-family: Helvetica;  }
             .navMenu{ margin-top:-4%;margin-left: 83% !important;"}
             .navMenu-img{width:15%;}
        </style>

    <div class="top">
        <div class="panel panel-default  col-md-6 align-center "
            style="max-height: 10; width: 100%;">
            <div class="navbar navbar-static navbar-default "
                style="background-color: #585858">
                <div class="container-fluid" style="padding-right: 0px;">
                    <div>
                        <button type="button" class="navbar-toggle toggle-left"
                            data-toggle="sidebar" data-target=".sidebar-left">
                            <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span>
                        </button>
                    </div>
                    <div>
                        <img id="btnImg1" src="{!$Resource.BNYM_WM_IPAD_logo}"
                            style="width: 15%; cursor: pointer; margin-left: 35%;" />
                    </div>

                    <div class="navbar-header navMenu">
                        <div style="margin-left: -25%;">
                            <li class="dropdown"
                                style="list-style: none; background-color: #585858;">
                                <a class="dropdown-toggle" Style="text-decoration: none; cursor: pointer; color: white;"
                                data-toggle="dropdown" href="#"> 
                                
                                <img class="navMenu-img" alt="Brand" src="{!photoUrl}" /> 
                                    {!loginUserName}
                                <span class="caret" Style = "float: right;margin-right: 10px;margin-top: 7%;"></span>
                                
                            </a>
                                <ul class="dropdown-menu"
                                    style="width: 100%; background-color: #585858;text-align: center;">
                                    <li
                                        style="list-style: none; border-bottom-style: solid; border-bottom-color: lightgray; border-bottom-width: 1px; padding: 4px;margin-left: 0%;"><a
                                        style="color: white; " href="/BNYMWM/{!strUserCont}">My
                                            Profile</a></li>
                                    <li
                                        style="list-style: none; border-bottom-style: solid; border-bottom-color: lightgray; border-bottom-width: 1px; padding: 4px;margin-left: 0%;"><a
                                        style="color: white;"
                                        href="javascript:sfdcPage.openPersonalSetup(%27/BNYMWM/_ui/common/setup/PersonalSetup%27);">My
                                            Settings</a></li>
                                    <li style="list-style: none; border-bottom-style: solid; border-bottom-color: lightgray; border-bottom-width: 1px; padding: 4px;margin-left: 0%;"><a
                                        style="color: white;" href="#">Support</a></li>     
                                    <li style="list-style: none; padding: 4px;margin-left: 0%;"><a
                                        style="color: white;" href="/BNYMWM/secur/logout.jsp">Logout</a></li>
                                </ul></li>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div
                        class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-left sidebar-animate sidebar-close">
                        <apex:repeat value="{!lstwrapper}" var="obj">
                            <ul class="nav navbar-stacked">
                                <li class="active"><apex:outputLink id="url1"
                                        value="{!obj.urlstr}" style="color:#000">{!obj.namestr}</apex:outputLink>
                                </li>
                            </ul>
                        </apex:repeat>
                    </div>
                </div>
            </div>

        </div>
    </div>
</apex:component>