<apex:component controller="Community_Popular_Topics_Controller">
    <apex:attribute name="sPrefix" description="sPreFix" type="String" required="true" assignTo="{!sPrefixStr}"/>
    <apex:includeScript value="{!URLFOR($Resource.SDO_jqueryui192, '/js/jquery-1.8.3.js')}"/>
   
    <style type="text/css" media="all">
        @import url("{!$Site.prefix}/apex/Community_Widget_CSS_Override");
    </style>
    
    <script type="text/javascript">
        $(document).ready(function() {
            console.log("Popular Topics Widget Ready!");
        });
    </script>
    
    <div class="widget_outer">
        <div class="widget_inner">
            <div class="widget_header">
                <div>Popular Topics</div>
            </div>
            <div class="widget_body">
                <table class="table table-condensed">
                    <tbody>
                        <apex:repeat value="{!popularTopics}" var="p">
                            <tr>
                                <td><apex:outputLink value="/_ui/core/chatter/topics/TopicPage?id={!p.Id}&ref=catalog">{!p.Name}</apex:outputLink></td>
                                <td><apex:outputText value="{!p.TalkingAbout}"/></td>
                            </tr>
                        </apex:repeat>
                    </tbody>
                </table>
            </div>
            <div class="widget_footer">
            </div>
        </div>
    </div>
</apex:component>