<apex:component controller="MyAccountsCtrl">
    <html>
	    <head>
	        <meta charset="utf-8" />
	        <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
	    </head>
		<style type="text/css">
			.panel {
				margin-bottom: 0px;
				border-radius: 0px;
			}
			.row {
				margin-right: 0px;
				margin-left: 0px;
			}
			.col-md-6 {
				padding-right: 0px;
				padding-left: 0px;
				border-bottom-color: white;
				width: 100% !important;
				border: 0px;
			}
			.panel-body {
				padding: 0px;
			}
			.panel-heading {
				padding: 1% 2%;
				border-radius: 0px;
			}
			.col-md-2,.col-md-10 {
				padding: 0;
			}
			.col-md-2 {
				width: 8%;
			}
			body {
				padding: 0;
				margin: auto;
			}
			.chartHeight {
				height: 122px;
			}
		    #chartIframe{
		    }
			.h3TotalCurVal{
				color: grey;
				margin-left:10%;
		        margin-top: 12%;
			}
		    .topPanel{
		        height:20%;
		    }
		    .middlePanel{
		        margin-left: 4%;
		    }
		    .currentVal{
		        margin-left: 60%;
		    }
			@media only screen and (min-width : 768px) and (max-width : 1024px) {
				body {
					padding: 0;
					margin: auto;
				}
			    .h3TotalCurVal{
			        color: grey;
			        margin-left:-22%;
			        margin-top: 12%;
			    }
			}
		    .currentVal{
		        margin-left: 45%;
		    }
			@media only screen and (min-width : 768px) and (max-width : 1024px)and
				(orientation: portrait) {
				.chartHeight {
					height: 205px;
				}
			}
		</style>
	    <div class="topPanel">
	        <h3>{!$Label.My_Cash_Account_Heading}</h3>
	    </div>
	    <div class="middlePanel">
	        {!$Label.My_Cash_Cur_Value_Heading}
	        <h3 class="currentVal">
	            <apex:outputText value="${0,number,###,###,###,##0.00}">
	                <apex:param value="{!TotalCurrentValue}" />
	            </apex:outputText>
	        </h3>
	     </div>
	     <div class="bottomPanel" Style="margin-top:3.2%;  margin-left: 20%;">
			 <img id="myAccImg1" src="{!$Resource.transparent_image}"
			 style="width: 50%; height: 220px; margin-top: 1%; position: absolute;">
			 <apex:iframe src="{!strChartUrl}" id="chartIframe" height="230px;" />
			 </img>
	     </div>
<!-- 		<div class="bottomPanel" style="margin-top: 3.2%; margin-left: 20%;"> -->
<!-- 			<div class="banking_row " id="firstDiv" style="width: 100%"> -->
<!-- 				<div class="col-md-3 imgdivadjst" style="padding-top:0%;"> -->
<!-- 					<img id="myAccImg1" -->
<!-- 						src="/BNYMWM/resource/1429769331000/transparent_image" -->
<!-- 						style="width: 96%; height: 220px; margin-top: 1%; position: absolute;"> -->
<!-- 					<apex:iframe src="{!strChartUrl}" id="chartIframe" height="230px;" /></img> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-3 imgdivadjst" style="margin-top: 10%;padding-top:0%;"> -->
<!-- 					<div class="banking_row " id="firstDivqw" -->
<!-- 						style="margin-left: 10%;width: 40%;height: 45px;"> -->
<!-- 						<div class="col-md-3 " style="background: rgb(11, 111, 206);margin-left: 4%; -->
<!-- 						                       margin-top: 10%;width: 15% !important;">. -->
<!-- 						</div> -->
<!-- 						<div class="col-md-3 " style="margin-top: 10%;">Investment</div> -->
<!-- 					</div> -->
<!-- 					<div class="banking_row " id="firstDivqw" -->
<!-- 						style="margin-left: 10%; width: 40%;height: 47px;"> -->
<!-- 						<div class="col-md-3 " style="margin-left: 4%; margin-top: 10%; -->
<!-- 						     background: rgb(120, 201, 83);width: 15% !important;">. -->
<!-- 						</div> -->
<!-- 						<div class="col-md-3 " style="margin-top: 10%;">Banking</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</html>
</apex:component>