<apex:page controller="MyAccountsCtrl" sidebar="false" standardStylesheets="false"
    showHeader="false" docType="html-5.0">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
<!--        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link
            href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css"
            rel="stylesheet" />
        
        <script data-require="bootstrap@*" data-semver="3.1.1"
            src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> -->

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 

        <script>
        window.onload = function(){
            
            var xStart, yStart = 0;
         
            document.addEventListener('touchstart',function(e) {
                xStart = e.touches[0].screenX;
                yStart = e.touches[0].screenY;
            });
            document.addEventListener('touchmove',function(e) {
                var xMovement = Math.abs(e.touches[0].screenX - xStart);
                var yMovement = Math.abs(e.touches[0].screenY - yStart);
                if((yMovement * 3) > xMovement) {
                    e.preventDefault();
                }
            });     
        };
        </script>

        <script type='text/javascript'>
             (function(){
                 try{
                     var a = navigator.userAgent; 
                     if( ( a.indexOf( 'Salesforce' ) != -1 ) && ( a.indexOf( 'iPhone' ) != -1 || a.indexOf( 'iPad' ) != -1 ) && ( a.indexOf( 'OS/8' ) != -1 || a.indexOf( 'OS 8' ) != -1 ) && ( a.indexOf( 'Safari' ) == -1 ) ) { 
                             var s = document.createElement('style');
                             s.innerHTML="html,html body{overflow: auto;-webkit-overflow-scrolling:touch;}body{position:absolute;left:0;right:0;top:0;bottom:0;}";
                             document.getElementsByTagName('head')[0].appendChild(s);
                         }
                 } catch(e) {}
             })();
        </script>
    </head>
    <style type="text/css">
            <!-- Spacing for the Nav bar --> 
            .nav-pills > li.active > a,
            .nav-pills > li.active > a:hover,
            .nav-pills > li.active > a:focus {
                background-color: goldenrod !important;
            }

.tabContent {
    color: black;
}

.dropdown {
    color: goldenrod;
}
</style>

    <style type="text/css">
.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.carousel-indicators {
    bottom: -16%;
}

.carousel-inner {
    
}

.carousel .active,.carousel .next,.carousel .prev {
    display: inline-block;
}

.dropdown-menu a:hover {
    background: #585858 !important;
}

.panel {
    margin-bottom: 0px;
    border-radius: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.col-md-6 {
    padding-right: 0px;
    padding-left: 0px;
    border-bottom-color: white;
    width: 100% !important;
    border: 0px;
}

.col-md-12 {
    padding-right: 0px;
    padding-left: 0px;
}

body {
    overflow-y: hidden;
}

.panel-body {
    padding: 0px;
}

.panel-heading {
    border-radius: 0px;
    height: 40px;
}

.col-md-2,.col-md-10 {
    padding: 0;
}

.col-md-2 {
    width: 6% !important;
}

body {
    padding: 0;
    margin: auto;
}

.box1 {
    width: 33%;
    height: 67%;
    position: absolute;
    top: 7%;
    left: 0;
    font-family: Helvetica;
}

.box2 {
    width: 67% !important;
    height: 67% !important;
    position: absolute !important;
    top: 7% !important;
    right: 0 !important;
    border-left: 1px solid #BDBDBD;
    font-family: Helvetica;
}

.box3 {
    width: 33%;
    height: 33%;
    position: absolute;
    top: 67%;
    left: 0;
    font-family: Helvetica;
}

.boxMessage {
    width: 67% !important;
    height: 33% !important;
    position: absolute !important;
    top: 67% !important;
    left: 33% !important;
    right: 0 !important;
    border-left: 1px solid #BDBDBD;
    font-family: Helvetica;
}

#wrapper div {
    width: calc(100%/ 8.5);
    display: inline-block;
}

.heading {
    background: #948F6C;
    color: #fff;
    padding: 4px 20px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.boxDiv {
    position: relative;
    height: 100%;
    width: 100%;
}
.portfolio-body{
    height:105px !important; 
    color:gray;
    text-align:center;
}
.portfolio-heading{
    color: white;
    background-color: gray;
    text-decoration: none !important;
}
.carousel-indicators {
    position: absolute;
    bottom: -25px;
}
.panel-group .panel+.panel {
    margin-top: 0px;
}
.carousel {
    position: relative;
    min-height: 140px;
}

.car-ind {
    bottom: -17%;
}

.carousel-indicators li {
    border: 0px #fff;
}

.anchor_color {
    color: black;
}

.graph_desktop {
    margin-left: 8%;
}

.portfolioDivs {
    border: solid 1px #fff;
    height: 57.5px;
    background-color: rgb(119, 118, 118);;
    padding-left: 2%;
    padding-top: 4%;
    color: #fff !important;
}

.portfolioAncor {
    color: #fff !important;
}
.msg-area{
    width: 97% !important; 
    position: absolute !important; 
    margin-left:2%;
}
.msg_container {
    padding: 0px !important;
}
.textSentStyle {
    margin-left: 8% !important;
}
.panel-title:hover {
     cursor: pointer;
}
.header-portfolio{
    background-color: #848484;
    color: white;
    border-bottom: 1px solid white; 
}
.hhold{
    margin-top:1%;
}
.nWorth{
    margin-top:2%;
}
.sidebar-animate{width : 33% !important;}



  div.tooltip {
    width: 195px;
    float: left;
  }
  div.tooltip:hover {
    background: #ffffff;
    text-decoration: none;
  } /*BG color is a must for IE6*/
  div.tooltip span {
    display: none;
    padding: 2px 3px;
    margin-left: 8px;
    width: 195px;
  }
  div.tooltip:hover span {
    display: inline;
    position: absolute;
    border: 1px solid #cccccc;
    background: #FFC;;
    color: #000000;
  }







@media only screen and (min-width : 768px) and (max-width : 1024px) {
    body {
        padding: 0;
        margin: auto;
    }
    .box1 {
        width: 33%;
        height: 67%;
        position: absolute;
        top: 7%;
        left: 0;
        font-family: Helvetica;
    }
    .box2 {
        width: 67% !important;
        height: 67% !important;
        position: absolute !important;
        top: 7% !important;
        right: 0 !important;
        border-left: 1px solid #BDBDBD;
        font-family: Helvetica;
    }
    .box3 {
        width: 33%;
        height: 33%;
        position: absolute;
        top: 67%;
        left: 0;
        font-family: Helvetica;
    }
    .boxMessage{width: 67% !important; height: 33% !important; position: absolute !important; top:67% !important; left:33% !important;right:0; border-left: 1px solid #BDBDBD;font-family: Helvetica;}
    .carousel-indicators {
        bottom: -38%;
    }
    .car-ind {
        bottom: -15%;
    }
    .graph_desktop {
        margin-left: 0%
    }
    .portfolio-body{
        height:155px !important; 
        color:gray;
        text-align:center;
    }   
    .hhold{
        margin-top:3%;
    }
    .nWorth{
        margin-top:6%;
    }   
}

@media only screen and (min-width : 768px) and (max-width : 1024px)and
    (orientation: portrait) {
    .carousel-indicators {
        bottom: -50px !important;
    }
    .carousel {
        position: relative;
        min-height: 210px;
    }
}
</style>
    <div class="container">
        <c:Header />
        <div class="box1">
            <div class="boxDiv">
                <div class="col-md-6 panel panel-default">
                     <div class="panel-heading " style="background-color: #948F6C">
                         <h3 class="panel-title">
                            <b style="color: white">My Portfolio</b>
                         </h3>
                     </div>

                     <div class="panel-group" id="accordion">
                        
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                <div class="panel-heading portfolio-heading"> 
                                    <h4 class="panel-title ">
                                        NET WORTH
                                    </h4>
                                </div>
                            </a>    
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body portfolio-body">
                                    <div class="hhold">
                                        <h3 style="margin-left: 2%;">
                                            <apex:outputText value="${0,number,###,###,###,##0.00}">
                                                <apex:param value="{!netHouseholdWorth}" />
                                            </apex:outputText>  
                                        </h3><br/>  
                                        <b> My Household's Net Worth </b>
                                    </div>
                                    <div class="nWorth">
                                            <h3 style="margin-left: 2%;">   
                                                <apex:outputText value="${0,number,###,###,###,##0.00}">
                                                    <apex:param value="{!netWorth}" />
                                                </apex:outputText>
                                            </h3><br/>
                                            <b> My Net Worth</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default">{!$Site.prefix}
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                <div class="panel-heading portfolio-heading">
                                    <h4 class="panel-title">
                                        CASH
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body portfolio-body">
									    Test 2
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                <div class="panel-heading portfolio-heading">
                                    <h4 class="panel-title">
                                        CREDITS
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body portfolio-body">Test 3</div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                <div class="panel-heading portfolio-heading ">
                                    <h4 class="panel-title">
                                        INVESTMENT
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse4" class="panel-collapse collapse ">
                                <div class="panel-body portfolio-body">Test 4
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                <div class="panel-heading portfolio-heading">
                                    <h4 class="panel-title">
                                        LOANS
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body portfolio-body">Test 5</div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                <div class="panel-heading portfolio-heading">
                                    <h4 class="panel-title">
                                        PROPERTY
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse6" class="panel-collapse collapse">
                                <div class="panel-body portfolio-body">Test 6</div>
                            </div>
                        </div>            
                      </div> 
                </div>
            </div>
        </div>

        <div class="box2">
            <div class="boxDiv">
                <div class="col-md-6 panel panel-default">
                    <div class="panel-heading " style="background-color: #948F6C">

                    </div>
                    <div Style="margin-left: 2%; margin-top: 2%;">
                        <c:MyAccounts /> 
                    </div>

                </div>
            </div>
        </div>
        <c:MyBankingTeam />
        <c:MyMessages />
    </div>
</apex:page>