<apex:page sidebar="false" standardStylesheets="false" showHeader="false"  docType="html-5.0" controller="HomeController" action="{!init}">
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" />
    <apex:includeScript value="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js" />
    <apex:includeScript value="//code.jquery.com/ui/1.10.2/jquery-ui.js" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <html> 
	    <head>
	        <meta charset="utf-8" />
	        <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
	        <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet"/>
	        <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		    <script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		        <!-- Latest compiled and minified CSS -->
		        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
		        <!--         jQuery library -->
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		        <!--         Latest compiled JavaScript -->
		        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		        <!--         datatable---- -->
		        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" />
		        <script type="text/javascript" src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
				<script src="http://code.jquery.com/jquery.min.js"></script>
				<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
	        <!-- script for chatter feed -->
			<script>
				    window.onload = function(){
				        $('.publishertextarea').val('{!$Label.My_Messages_Post_Placeholder}');
				        
				        $('.publishertextarea').height('20px');
		
		                $('.publishertextarea').focusin(function(event){
		                    $('.publishertextarea').val('@');
		                    $('.publishertextarea').css("color", "black");
		                });
		                $('.publishertextarea').focusout(function(event){
		                    $('.publishertextarea').css("color", "grey");
		                }); 
		
				    };
					var xStart, yStart = 0;
					 
					document.addEventListener('touchstart',function(e) {
					    xStart = e.touches[0].screenX;
					    yStart = e.touches[0].screenY;
					});
					document.addEventListener('touchmove',function(e) {
					    var xMovement = Math.abs(e.touches[0].screenX - xStart);
					    var yMovement = Math.abs(e.touches[0].screenY - yStart);
					    if((yMovement * 3) > xMovement) {
					        e.preventDefault();
					    }
					});		
			</script> 
			<Script>
			      (function(e,t,n){typeof define=="function"&&define.amd?define(["jquery"],function(r){return n(r,e,t),r.mobile}):n(e.jQuery,e,t)})(this,document,function(e,t,n,r){(function(e,t,n,r){function x(e){while(e&&typeof e.originalEvent!="undefined")e=e.originalEvent;return e}function T(t,n){var i=t.type,s,o,a,l,c,h,p,d,v;t=e.Event(t),t.type=n,s=t.originalEvent,o=e.event.props,i.search(/^(mouse|click)/)>-1&&(o=f);if(s)for(p=o.length,l;p;)l=o[--p],t[l]=s[l];i.search(/mouse(down|up)|click/)>-1&&!t.which&&(t.which=1);if(i.search(/^touch/)!==-1){a=x(s),i=a.touches,c=a.changedTouches,h=i&&i.length?i[0]:c&&c.length?c[0]:r;if(h)for(d=0,v=u.length;d<v;d++)l=u[d],t[l]=h[l]}return t}function N(t){var n={},r,s;while(t){r=e.data(t,i);for(s in r)r[s]&&(n[s]=n.hasVirtualBinding=!0);t=t.parentNode}return n}function C(t,n){var r;while(t){r=e.data(t,i);if(r&&(!n||r[n]))return t;t=t.parentNode}return null}function k(){g=!1}function L(){g=!0}function A(){E=0,v.length=0,m=!1,L()}function O(){k()}function M(){_(),c=setTimeout(function(){c=0,A()},e.vmouse.resetTimerDuration)}function _(){c&&(clearTimeout(c),c=0)}function D(t,n,r){var i;if(r&&r[t]||!r&&C(n.target,t))i=T(n,t),e(n.target).trigger(i);return i}function P(t){var n=e.data(t.target,s);if(!m&&(!E||E!==n)){var r=D("v"+t.type,t);r&&(r.isDefaultPrevented()&&t.preventDefault(),r.isPropagationStopped()&&t.stopPropagation(),r.isImmediatePropagationStopped()&&t.stopImmediatePropagation())}}function H(t){var n=x(t).touches,r,i;if(n&&n.length===1){r=t.target,i=N(r);if(i.hasVirtualBinding){E=w++,e.data(r,s,E),_(),O(),d=!1;var o=x(t).touches[0];h=o.pageX,p=o.pageY,D("vmouseover",t,i),D("vmousedown",t,i)}}}function B(e){if(g)return;d||D("vmousecancel",e,N(e.target)),d=!0,M()}function j(t){if(g)return;var n=x(t).touches[0],r=d,i=e.vmouse.moveDistanceThreshold,s=N(t.target);d=d||Math.abs(n.pageX-h)>i||Math.abs(n.pageY-p)>i,d&&!r&&D("vmousecancel",t,s),D("vmousemove",t,s),M()}function F(e){if(g)return;L();var t=N(e.target),n;D("vmouseup",e,t);if(!d){var r=D("vclick",e,t);r&&r.isDefaultPrevented()&&(n=x(e).changedTouches[0],v.push({touchID:E,x:n.clientX,y:n.clientY}),m=!0)}D("vmouseout",e,t),d=!1,M()}function I(t){var n=e.data(t,i),r;if(n)for(r in n)if(n[r])return!0;return!1}function q(){}function R(t){var n=t.substr(1);return{setup:function(r,s){I(this)||e.data(this,i,{});var o=e.data(this,i);o[t]=!0,l[t]=(l[t]||0)+1,l[t]===1&&b.bind(n,P),e(this).bind(n,q),y&&(l.touchstart=(l.touchstart||0)+1,l.touchstart===1&&b.bind("touchstart",H).bind("touchend",F).bind("touchmove",j).bind("scroll",B))},teardown:function(r,s){--l[t],l[t]||b.unbind(n,P),y&&(--l.touchstart,l.touchstart||b.unbind("touchstart",H).unbind("touchmove",j).unbind("touchend",F).unbind("scroll",B));var o=e(this),u=e.data(this,i);u&&(u[t]=!1),o.unbind(n,q),I(this)||o.removeData(i)}}}var i="virtualMouseBindings",s="virtualTouchID",o="vmouseover vmousedown vmousemove vmouseup vclick vmouseout vmousecancel".split(" "),u="clientX clientY pageX pageY screenX screenY".split(" "),a=e.event.mouseHooks?e.event.mouseHooks.props:[],f=e.event.props.concat(a),l={},c=0,h=0,p=0,d=!1,v=[],m=!1,g=!1,y="addEventListener"in n,b=e(n),w=1,E=0,S;e.vmouse={moveDistanceThreshold:10,clickDistanceThreshold:10,resetTimerDuration:1500};for(var U=0;U<o.length;U++)e.event.special[o[U]]=R(o[U]);y&&n.addEventListener("click",function(t){var n=v.length,r=t.target,i,o,u,a,f,l;if(n){i=t.clientX,o=t.clientY,S=e.vmouse.clickDistanceThreshold,u=r;while(u){for(a=0;a<n;a++){f=v[a],l=0;if(u===r&&Math.abs(f.x-i)<S&&Math.abs(f.y-o)<S||e.data(u,s)===f.touchID){t.preventDefault(),t.stopPropagation();return}}u=u.parentNode}}},!0)})(e,t,n),function(e){e.mobile={}}(e),function(e,t){var r={touch:"ontouchend"in n};e.mobile.support=e.mobile.support||{},e.extend(e.support,r),e.extend(e.mobile.support,r)}(e),function(e,t,r){function l(t,n,r){var i=r.type;r.type=n,e.event.dispatch.call(t,r),r.type=i}var i=e(n);e.each("touchstart touchmove touchend tap taphold swipe swipeleft swiperight scrollstart scrollstop".split(" "),function(t,n){e.fn[n]=function(e){return e?this.bind(n,e):this.trigger(n)},e.attrFn&&(e.attrFn[n]=!0)});var s=e.mobile.support.touch,o="touchmove scroll",u=s?"touchstart":"mousedown",a=s?"touchend":"mouseup",f=s?"touchmove":"mousemove";e.event.special.scrollstart={enabled:!0,setup:function(){function s(e,n){r=n,l(t,r?"scrollstart":"scrollstop",e)}var t=this,n=e(t),r,i;n.bind(o,function(t){if(!e.event.special.scrollstart.enabled)return;r||s(t,!0),clearTimeout(i),i=setTimeout(function(){s(t,!1)},50)})}},e.event.special.tap={tapholdThreshold:750,setup:function(){var t=this,n=e(t);n.bind("vmousedown",function(r){function a(){clearTimeout(u)}function f(){a(),n.unbind("vclick",c).unbind("vmouseup",a),i.unbind("vmousecancel",f)}function c(e){f(),s===e.target&&l(t,"tap",e)}if(r.which&&r.which!==1)return!1;var s=r.target,o=r.originalEvent,u;n.bind("vmouseup",a).bind("vclick",c),i.bind("vmousecancel",f),u=setTimeout(function(){l(t,"taphold",e.Event("taphold",{target:s}))},e.event.special.tap.tapholdThreshold)})}},e.event.special.swipe={scrollSupressionThreshold:30,durationThreshold:1e3,horizontalDistanceThreshold:30,verticalDistanceThreshold:75,start:function(t){var n=t.originalEvent.touches?t.originalEvent.touches[0]:t;return{time:(new Date).getTime(),coords:[n.pageX,n.pageY],origin:e(t.target)}},stop:function(e){var t=e.originalEvent.touches?e.originalEvent.touches[0]:e;return{time:(new Date).getTime(),coords:[t.pageX,t.pageY]}},handleSwipe:function(t,n){n.time-t.time<e.event.special.swipe.durationThreshold&&Math.abs(t.coords[0]-n.coords[0])>e.event.special.swipe.horizontalDistanceThreshold&&Math.abs(t.coords[1]-n.coords[1])<e.event.special.swipe.verticalDistanceThreshold&&t.origin.trigger("swipe").trigger(t.coords[0]>n.coords[0]?"swipeleft":"swiperight")},setup:function(){var t=this,n=e(t);n.bind(u,function(t){function o(t){if(!i)return;s=e.event.special.swipe.stop(t),Math.abs(i.coords[0]-s.coords[0])>e.event.special.swipe.scrollSupressionThreshold&&t.preventDefault()}var i=e.event.special.swipe.start(t),s;n.bind(f,o).one(a,function(){n.unbind(f,o),i&&s&&e.event.special.swipe.handleSwipe(i,s),i=s=r})})}},e.each({scrollstop:"scrollstart",taphold:"tap",swipeleft:"swipe",swiperight:"swipe"},function(t,n){e.event.special[t]={setup:function(){e(this).bind(n,e.noop)}}})}(e,this)});
			</Script>
	        <script>
		          $(document).ready(function() {
		              $("#carousel-example-generic, #carousel-example-generic1 , #carousel-example-generic2 " ).swiperight(function() {
		                  $(this).carousel('prev');
		          });
		              $("#carousel-example-generic, #carousel-example-generic1 , #carousel-example-generic2").swipeleft(function() {
		                  $(this).carousel('next');
		              });
		          });
	        </script> 
	        <script type='text/javascript'>
		            /**j$ = jQuery.noConflict();*/
		            /** Temporary Bug Fix for iOS 8 Touch/Scroll Bug */
		            (function(){
		                try{
		                    var a = navigator.userAgent; 
		                    if( ( a.indexOf( 'Salesforce' ) != -1 ) && ( a.indexOf( 'iPhone' ) != -1 || a.indexOf( 'iPad' ) != -1 ) && ( a.indexOf( 'OS/8' ) != -1 || a.indexOf( 'OS 8' ) != -1 ) && ( a.indexOf( 'Safari' ) == -1 ) ) { 
		                            var s = document.createElement('style');
		                            s.innerHTML="html,html body{overflow: auto;-webkit-overflow-scrolling:touch;}body{position:absolute;left:0;right:0;top:0;bottom:0;}";
		                            document.getElementsByTagName('head')[0].appendChild(s);
		                        }
		                } catch(e) {}
		            })();
	        </script>
	        <script>
		            $(document).ready(function() {
		                $(document.getElementById('srbtnDiv')).hide();
		                $(document.getElementById('feedPostDiv')).hide();
		                $(document.getElementById('publishersharebutton')).hide();
		            });
		 			function setImage(strMode){
		 				if(strMode == '1D')
		 					document.getElementById('myAccImg').src = "{!$Resource.BNYMWM_MY_FA_1D}";
		 				if(strMode == '1M')
		 					document.getElementById('myAccImg').src = "{!$Resource.BNYMWM_MY_FA_1M}";
		 				if(strMode == '3M')
		 					document.getElementById('myAccImg').src = "{!$Resource.BNYMWM_MY_FA_3M}"; 
		 				if(strMode == '6M')
		 					document.getElementById('myAccImg').src = "{!$Resource.BNYMWM_MY_FA_6M}";
		 				if(strMode == '1Y')
		 					document.getElementById('myAccImg').src = "{!$Resource.BNYMWM_MY_FA_1Y}";
		 				if(strMode == 'ALL')
		 					document.getElementById('myAccImg').src = "{!$Resource.BNYMWM_MY_FA_ALL}";
		 			}
		 			 /*
					function diffImageSer(img) 
					{
					   if(img.src.match('{!$Resource.BNYMWMButtonMinus}')){ 
					   		img.src = "{!$Resource.BNYMWMButtonPlus}";
					   		$(document.getElementById('recDiv')).show();
					   		$(document.getElementById('srbtnDiv')).hide();
					   		
					   }
					   else {
					   		img.src = "{!$Resource.BNYMWMButtonMinus}";
					   		$(document.getElementById('srbtnDiv')).show();
					   		$(document.getElementById('recDiv')).hide();
					   }
					}*/
					var mode = 'post';
					function diffImage(img) 
					{
					   if(img.src.match('{!$Resource.BNYMWMButtonPlus}')){ 
					   		$(document.getElementById('feedwrapper')).hide();
							$(".publisherFeedItemTypeChoices").hide();
					   		$(".bottomBarLeft").hide();		   
					   		img.src = "{!$Resource.BNYMWMButtonMinus}";
		
					   		$(document.getElementById('feedPostDiv')).show();
					   		$(document.getElementById('feedDiv')).hide();
				        	$('.publishertextarea').val('{!$Label.My_Messages_Post_Placeholder}');
				        	$('.publishertextarea').height('20px');	
					        if(mode == 'post'){	
					        	$(document.getElementById("commentShare")).hide();
					        	$(document.getElementById("postShare")).show();
				        	}	
				        	else{
				        		$('.publishertextarea').val('{!$Label.My_Messages_Comment_Placeholder}');
			        			$(document.getElementById("postShare")).hide();
			        			$(document.getElementById("commentShare")).show();
				        	}			   		
					   }
					   else {
					   		img.src = "{!$Resource.BNYMWMButtonPlus}";
					   		$(document.getElementById('feedDiv')).show();
					   		$(document.getElementById('feedPostDiv')).hide();
					   }
					}
					function getPostId(pId){
						if(mode == 'comment'){  
							mode = 'post';
						}
						else if(mode =='post'){
							mode = 'comment';	
						}	
						getpId(pId);
						//alert(mode);
					}
					
					function addNewComment(){
						var bdy = document.getElementById("publishereditablearea").value;
						addComment(bdy);
						$(document.getElementById("btnImg")).click();
						
					}
					function addNewPost(){
						var bpdy = document.getElementById("publishereditablearea").value;
				   		addPost(bpdy);
						$(document.getElementById("btnImg")).click();
				   		$(document.getElementById('feedDiv')).show();
				   		$(document.getElementById('feedPostDiv')).hide();
					}
	         </script>
	         <apex:outputPanel id="headerPanel">
	         <script>
	        		$(document).ready(function() {
					$(".header").click(function () {
					    
					    if(this.id == 'div1'){
					        if ($('#div2').css('display') == 'none') {
					            $("#div2").show();
					        }
					        else{
					            $("#div2").hide(); 
					        }
					        if ($('#div3').css('display') == 'none') {
					            $("#div3").show();
					        }
					        else{
					            $("#div3").hide(); 
					        }       
					    }
					    
					    if(this.id == 'div2'){
					        if ($('#div1').css('display') == 'none') {
					            $("#div1").show();
					        }
					        else{
					            $("#div1").hide(); 
					        }
					        if ($('#div3').css('display') == 'none') {
					            $("#div3").show();
					        }
					        else{
					            $("#div3").hide(); 
					        }       
					    }
					     if(this.id == 'div3'){
					        if ($('#div2').css('display') == 'none') {
					            $("#div2").show();
					        }
					        else{
					            $("#div2").hide(); 
					        }
					        if ($('#div1').css('display') == 'none') {
					            $("#div1").show();
					        }
					        else{
					            $("#div1").hide(); 
					        }       
					    }   
					    $header = $(this);
					    //getting the next element
					    $content = $header.next();
					    //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
					    $content.slideToggle(500, function () {
					        //execute this after slideToggle is done
					    });
					
					});
					});
	        </script>
	        </apex:outputPanel>
	        <style type="text/css">
	            <!-- Spacing for the Nav bar --> 
	            .nav-pills > li.active > a,
	            .nav-pills > li.active > a:hover,
	            .nav-pills > li.active > a:focus {
	                background-color: goldenrod !important;
	            }
	            .tabContent {
	                color: black;
	            }
	            .dropdown {
	                color: goldenrod;
	            }
	        </style>
        </head>
		<style type="text/css">
			.container {
				width: 100%;
				padding-right: 0px;
				padding-left: 0px;
				margin-right: 0px;
				margin-left: 0px;
			}
			
			.container-fluid {
				padding-right: 0px;
				padding-left: 0px;
				margin-right: 0px;
				margin-left: 0px;
			}
			
			.carousel-indicators {
				bottom: -16%;
			}
			
			.carousel-inner {
				
			}
			
			.carousel .active,.carousel .next,.carousel .prev {
				display: inline-block;
			}
			
			.dropdown-menu a:hover {
				background: #585858 !important;
			}
			
			.panel {
				margin-bottom: 0px;
				border-radius: 0px;
			}
			
			.navbar {
				margin-bottom: 0px;
			}
			
			.row {
				margin-right: 0px;
				margin-left: 0px;
			}
			
			.col-md-6 {
				padding-right: 0px;
				padding-left: 0px;
				border-bottom-color: white;
				width: 100% !important;
				border: 0px;
			}
			
			#myIframe {
				position: relative;
				height: 100%;
				width: 100%;
			}
			
			body {
				overflow-y: hidden;
			}
			
			.panel-body {
				padding: 0px;
			}
			
			.panel-heading {
				padding: 1% 2%;
				border-radius: 0px;
			}
			
			.norecordClass {
				margin-top: 10%;
				margin-left: 30%;
				color: grey;
			}
			
			.col-md-2,.col-md-10 {
				padding: 0;
			}
			
			.msg_receive {
				padding-left: 0;
				margin-left: 0;
			}
			
			.msg_sent {
				margin-right: 0;
			}
			
			.messages {
				background: white;
				padding: 5px;
				border-radius: 2px;
				max-width: 100%;
				margin-top: 2%;
			}
			
			.messages>p {
				font-size: 13px;
				margin: 0 0 0.2rem 0;
			}
			
			.msg_container {
				padding: 2px;
				overflow: hidden;
				display: flex;
				width: 90%;
			}
			
			.chat-img {
				display: block;
				width: 100%;
				border-radius: 50%;
				margin-top: 2%;
			}
			
			.avatar {
				position: relative;
			}
			
			.base_sent {
				justify-content: flex-end;
				align-items: flex-end;
				margin-left: 8%;
			}
			
			.col-md-2 {
				width: 8%;
			}
			
			.textSentStyle {
				padding: 5px 10px 5px 10px;
				background-color: gray;
				border-radius: 18px;
				color: white;
				margin-left: 2%;
				width: 88%;
				margin-left: 10%;
			}
			
			.container {
				
			}
			
			.container div {
				
			}
			
			.container .header {
				cursor: pointer;
			}
			
			.container .content {
				display: none;
				padding: 5px;
			}
			
			.commentStyle {
				width: 82%;
				margin-left: 15%;
			}
			
			body {
				padding: 0;
				margin: auto;
			}
			/* .top { width: 100%; height: 7%; position: absolute; background: #5A5A5A; font-family: Helvetica; } */
			.box1 {
				width: 50%;
				height: 31%;
				position: absolute;
				top: 7%;
				left: 0;
				font-family: Helvetica;
			}
			
			.box2 {
				width: 50%;
				height: 31%;
				position: absolute;
				top: 7%;
				right: 0;
				border-left: 1px solid #BDBDBD;
				font-family: Helvetica;
			}
			
			.box3 {
				width: 50%;
				height: 31%;
				position: absolute;
				top: 38%;
				left: 0;
				font-family: Helvetica;
			}
			
			.box4 {
				width: 50%;
				height: 31%;
				position: absolute;
				top: 38%;
				right: 0;
				border-left: 1px solid #BDBDBD;
				font-family: Helvetica;
			}
			
			.box5 {
				width: 50%;
				height: 31%;
				position: absolute;
				bottom: 0;
				left: 0;
				font-family: Helvetica;
			}
			
			.box6 {
				width: 50%;
				height: 31%;
				position: absolute;
				bottom: 0;
				right: 0;
				border-left: 1px solid #BDBDBD;
				font-family: Helvetica;
			}
			
			.f12 {
				font-size: 12px
			}
			
			.f14 {
				font-size: 14px
			}
			
			.f16 {
				font-size: 16px
			}
			
			.f18 {
				font-size: 18px
			}
			
			#wrapper div {
				width: calc(100%/ 8.5);
				display: inline-block;
			}
			
			.clr {
				clear: both
			}
			
			.chartHeight {
				height: 122px;
			}
			
			.heading {
				background: #948F6C;
				color: #fff;
				padding: 4px 20px;
				width: 100%;
				font-size: 20px;
				font-weight: bold;
			}
			
			.schAppBtn {
				width: 100%;
				min-height: 40px; /*position: absolute;*/
				bottom: -44%;
				margin: auto;
			}
			
			.boxDiv {
				position: relative;
				height: 100%;
				width: 100%;
			}
			
			.chatterTxt {
				position: absolute;
				padding-top: 1%;
				padding-bottom: 1%;
				padding-left: 3%;
				background: #009EFF;
				border-radius: 28PX;
				padding-right: 3%;
				color: white;
				margin-top: 2%;
			}
			
			.chatterImg {
				padding-top: 1%;
				border-radius: 55%;
				padding-bottom: 1%;
			}
			
			.chatter_txt_img {
				margin-top: 0%;
			}
			
			.carousel-indicators {
				position: absolute;
				bottom: -25px;
			}
			
			.carousel {
				position: relative;
				min-height: 140px;
			}
			
			.bottomBtn {
				position: absolute;
				bottom: 10px;
				right: 10px;
				height: 40PX;
				width: 40px;
			}
			
			.my_adv_img_width {
				width: 85%
			}
			
			.my_fa_img_width {
				width: 75%
			}
			
			.car-ind {
				bottom: -17%;
			}
			
			.bottomBarRight {
				margin-top: 5%;
				margin-right: 20%;
			}
			
			.carousel-indicators li {
				border: 0px #fff;
			}
			
			.anchor_color {
				color: black;
			}
			
			.graph_desktop {
				margin-left: 8%
			}
			
			.navMenu {
				margin-top: -3.0%;
				margin-left: 85.4% !important;
				"
			}
			
			.navMenu-img {
				width: 13%;
				border: 2px solid White;
				margin-right: 10px;
			}
			
			.myEvent-img {
				width: 70% !important;
			}
			
			.banking_row {
				width: 150%
			}
			
			.blockquote {
				border-left: 0px;
				!
				important
			}
			
			@media only screen and (min-width : 768px) and (max-width : 1024px) {
				body {
					padding: 0;
					margin: auto;
				}
				/* .top { width: 100%; height: 7%; position: absolute; background: #5A5A5A;font-family: Helvetica;  } */
				.box1 {
					width: 50%;
					height: 31%;
					position: absolute;
					top: 7%;
					left: 0;
					font-family: Helvetica;
				}
				.box2 {
					width: 50%;
					height: 31%;
					position: absolute;
					top: 7%;
					right: 0;
					border-left: 1px solid #BDBDBD;
					font-family: Helvetica;
				}
				.box3 {
					width: 50%;
					height: 31%;
					position: absolute;
					top: 38%;
					left: 0;
					font-family: Helvetica;
				}
				.box4 {
					width: 50%;
					height: 31%;
					position: absolute;
					top: 38%;
					right: 0;
					border-left: 1px solid #BDBDBD;
					font-family: Helvetica;
				}
				.box5 {
					width: 50%;
					height: 31%;
					position: absolute;
					top: 69%;
					left: 0;
					font-family: Helvetica;
				}
				.box6 {
					width: 50%;
					height: 31%;
					position: absolute;
					top: 69%;
					right: 0;
					border-left: 1px solid #BDBDBD;
					font-family: Helvetica;
				}
				.carousel-indicators {
					bottom: -38%;
				}
				.my_adv_img_width {
					width: 100%
				}
				.my_fa_img_width {
					width: 100%
				}
				.car-ind {
					bottom: -15%;
				}
				.chatterTxt {
					padding-top: 1%;
					margin-top: 5%;
					padding-bottom: 1%;
				}
				.chatterImg {
					padding-top: 0%; /*width: 10%;*/
					border-radius: 85%;
					padding-bottom: 0%;
					margin-top: 1.5%;
					margin-bottom: -1%;
				}
				.chatter_txt_img {
					margin-top: 0.5%;
					margin-bottom: 3%;
				}
				.my_acc_graph_mobile {
					padding-left: 10%
				}
				.graph_desktop {
					margin-left: 0%
				}
				.bottomBtn {
					bottom: 85px;
				}
				.navMenu {
					margin-top: -4%;
					margin-left: 83% !important;
					"
				}
				.navMenu-img {
					width: 15%;
				}
				.sidebar {
					top: 7.3%;
				}
				.myEvent-img {
					width: 90% !important;
				}
				.banking_row {
					height: 163px;
					width: 150%;
				}
				.chat-img {
					margin-top: 5px;
				}
				.msg_container {
					width: 96%;
				}
				.commentStyle {
					width: 82%;
				}
				.textSentStyle {
					margin-left: 10%;
				}
			}
			
			@media only screen and (min-width : 768px) and (max-width : 1024px)and
				(orientation: portrait) {
				.chartHeight {
					height: 205px;
				}
				.schAppBtn {
					bottom: -110%;
				}
				.chatterImg {
					padding-top: 5%;
				}
				.chatterTxt {
					padding-top: 5%;
				}
				.carousel-indicators {
					bottom: -50px !important;
				}
				.carousel {
					position: relative;
					min-height: 210px;
				}
			}
		</style>
    <apex:form Style="display:none;">
		<apex:actionFunction name="getpId" action="{!getPostId}" rerender="pnl">
			<apex:param name="strPost" value="" assignTo="{!selectedPost}" />
		</apex:actionFunction>
		<apex:actionFunction name="addComment" action="{!addfeedComment}"
			rerender="headerPanel,mainChatterPanel">
			<apex:param name="strBody" value="" assignTo="{!strCmntBody}" />
		</apex:actionFunction>
		<apex:actionFunction name="addPost" action="{!addfeedItem}"
			rerender="headerPanel,mainChatterPanel">
			<apex:param name="strpBody" value="" assignTo="{!strCmntBody}" />
		</apex:actionFunction>
	</apex:form>
    <div class="container">
	    	<c:Header />
			<div class="box1">
				<div class="boxDiv">
					<div class="col-md-6 panel panel-default">
						<div class="panel-heading " style="background-color: #948F6C">
							<h3 class="panel-title">
								<b style="color: white">{!$Label.My_Messages_Heading}</b>
							</h3>
						</div>
						<div Style="width: 45%; position: fixed; margin-left:2%;"> 
							<apex:outputpanel id="mainChatterPanel">
							<div id="feedDiv" class="panel-body ">
								<apex:outputpanel id="norecPanel" rendered="{!IF(lstFeeds.size == 0 ,true,false)}">
									<div class="norecordClass">
										<div class="f14">{!$Label.My_Messages_No_Records}</div>
									</div>
								</apex:outputpanel>
								<apex:outputpanel id="chatterPanel" rendered="{!IF(lstFeeds.size > 0 ,true,false)}">
									<div class="container">    
									    <div id = "div1" class="header">
										    <apex:outputpanel id="post1" rendered="{!IF(lstFeeds.size > 0 ,true,false)}">
										    	<apex:repeat value="{!lstFeeds[0]}" var="com">
										    	<div class="row msg_container base_receive" onclick="getPostId('{!com.Id}');" Style="width:97%">
													<div class="col-md-2 col-xs-2 avatar">
							                            <img src="{!mpUserToPhoto[com.CreatedById]}" class=" chat-img img-responsive "/> 
							                        </div>
						                            <div class="messages msg_receive  textSentStyle"  style = "{!If(com.CreatedById == loginUser,'background-color: #009EFF;','background-color: gray;')}">
						                                 <p><apex:outputText value="{!mpIdToBody[com.Id]}"
						                                                            id="theValue1" /></p>
						                            </div>
						                        </div>
										    	</apex:repeat>
											</apex:outputpanel>
									    </div>
									    <div class="content">
									        <ul>
		  								        <apex:outputpanel id="comment1" rendered="{!IF(lstFeeds.size > 0 ,true,false)}">
										            <apex:repeat value="{!lstFeeds[0]}" var="com"> 
										            	 <apex:repeat value="{!mpIdTofComment[com]}" var="comRec" rendered="{!If(NOT(ISNULL(mpIdTofComment[com])),true,false)}" >
										            		<apex:outputpanel rendered="{!NOT(IF(comRec.CommentBody == '',true,false))}">
														    	<div class="row msg_container base_receive commentStyle">  
																	<div class="col-md-2 col-xs-2 avatar">
											                            <img src="{!mpUserToPhoto[comRec.CreatedById]}" class=" chat-img img-responsive "/> 
											                        </div>
										                            <div class="messages msg_receive  textSentStyle"  style = "{!If(comRec.CreatedById == loginUser,'background-color: #009EFF;','background-color: gray;')}">
										                                 <p><apex:outputText value="{!mpIdToBody[comRec.Id]}"
										                                                            id="theVal" /></p>
										                            </div>
										                        </div> 
									                        </apex:outputpanel>
										            	</apex:repeat>
		  								            </apex:repeat>
										        </apex:outputpanel>  
									        </ul>
									    </div>
									    <div id = "div2" class="header">
										    <apex:outputpanel id="post2" rendered="{!IF(lstFeeds.size > 1 ,true,false)}">
										    	<apex:repeat value="{!lstFeeds[1]}" var="com1">
										    	<div class="row msg_container base_receive" onclick="getPostId('{!com1.Id}');" Style="width:97%">
													<div class="col-md-2 col-xs-2 avatar">
							                            <img src="{!mpUserToPhoto[com1.CreatedById]}" class=" chat-img img-responsive "/> 
							                        </div>
						                            <div class="messages msg_receive  textSentStyle"  style = "{!If(com1.CreatedById == loginUser,'background-color: #009EFF;','background-color: gray;')}">
						                                 <p><apex:outputText value="{!mpIdToBody[com1.Id]}"
						                                                            id="theValue2" /></p>
						                            </div>
						                        </div>
										    	</apex:repeat>
											</apex:outputpanel>	
									    </div>
									    <div class="content">
									        <ul>
		   								        <apex:outputpanel id="comment2" rendered="{!IF(lstFeeds.size > 1 ,true,false)}">
										            <apex:repeat value="{!lstFeeds[1]}" var="com1">
		   								            	<apex:repeat value="{!mpIdTofComment[com1]}" var="comRec" rendered="{!If(NOT(ISNULL(mpIdTofComment[com1])),true,false)}">
										            		<apex:outputpanel rendered="{!NOT(IF(comRec.CommentBody == '',true,false))}">
														    	<div class="row msg_container base_receive commentStyle">  
																	<div class="col-md-2 col-xs-2 avatar">
											                            <img src="{!mpUserToPhoto[comRec.CreatedById]}" class=" chat-img img-responsive "/> 
											                        </div>
										                            <div class="messages msg_receive  textSentStyle"  style = "{!If(comRec.CreatedById == loginUser,'background-color: #009EFF;','background-color: gray;')}">
										                                 <p><apex:outputText value="{!mpIdToBody[comRec.Id]}"
										                                                            id="theVal" /></p>
										                            </div>
										                        </div>
										            		</apex:outputpanel>
										            	</apex:repeat>
		  								            </apex:repeat>
										        </apex:outputpanel>
									        </ul>
									    </div>
									    <div id = "div3" class="header"> 
										    <apex:outputpanel id="post3" rendered="{!IF(lstFeeds.size > 2 ,true,false)}">
										    	<apex:repeat value="{!lstFeeds[2]}" var="com2">
										    	<div class="row msg_container base_receive" onclick="getPostId('{!com2.Id}');" Style="width:97%">
													<div class="col-md-2 col-xs-2 avatar">
							                            <img src="{!mpUserToPhoto[com2.CreatedById]}" class=" chat-img img-responsive "/> 
							                        </div>
						                            <div class="messages msg_receive  textSentStyle"  style = "{!If(com2.CreatedById == loginUser,'background-color: #009EFF;','background-color: gray;')}">
						                                 <p><apex:outputText value="{!mpIdToBody[com2.Id]}"
						                                                            id="theValue3" /></p>
						                            </div>
						                        </div>
										    	</apex:repeat>
											</apex:outputpanel>
									    </div>
									    <div class="content">
									        <ul>
		   								        <apex:outputpanel id="comment3" rendered="{!IF(lstFeeds.size > 2 ,true,false)}">
										            <apex:repeat value="{!lstFeeds[2]}" var="com2"> 
										            	 <apex:repeat value="{!mpIdTofComment[com2]}" var="comRec" rendered="{!If(NOT(ISNULL(mpIdTofComment[com2])),true,false)}">
										            		<apex:outputpanel rendered="{!NOT(IF(comRec.CommentBody == '',true,false))}">
														    	<div class="row msg_container base_receive commentStyle">  
																	<div class="col-md-2 col-xs-2 avatar">
											                            <img src="{!mpUserToPhoto[comRec.CreatedById]}" class=" chat-img img-responsive "/> 
											                        </div>
										                            <div class="messages msg_receive  textSentStyle"  style = "{!If(comRec.CreatedById == loginUser,'background-color: #009EFF;','background-color: gray;')}">
										                                 <p><apex:outputText value="{!mpIdToBody[comRec.Id]}"
										                                                            id="theVal" /></p>
										                            </div>
										                        </div>
										            		</apex:outputpanel>
										            	</apex:repeat>
		  								            </apex:repeat>
										        </apex:outputpanel>
									        </ul>
									    </div>
									</div>
								</apex:outputpanel>
							</div>
							</apex:outputpanel>
							<div id="feedPostDiv">
								<chatter:feed entityId="{!loginUser}" /> 
								<button id="postShare"  onclick="addNewPost();" type="button" class="btn btn-default"
								     Style="margin-left: 70%;margin-top:-1%;">Share  
								</button>						
								<button id="commentShare"  onclick="addNewComment();" type="button" class="btn btn-default"
								     Style="margin-left: 70%;margin-top:-1%;">Share  
								</button>
							</div>
						</div>
					</div>
					<div
						style="position: absolute; bottom: 10px; right: 10px; height: 40PX; width: 40px">
						<img id="btnImg" src="{!$Resource.BNYMWMButtonPlus}"
							style="width: 100%;cursor:pointer" onclick="diffImage(this);" />
					</div>
				</div>
			</div>
			<div class="box2">
				<div class="boxDiv">
					<!-- <div class="heading">My Advisor</div> -->
					<div class="col-md-6 panel panel-default">
						<div class="panel-heading " style="background-color: #948F6C">
							<h3 class="panel-title">
								<b style="color: white">{!$Label.My_Banking_Team_Heading}</b>
							</h3>
						</div>
		                <div class="panel-body" >
		                    <div id="carousel-example-generic2" class="carousel slide">
		                        <!-- Indicators -->
		                        <ol class="carousel-indicators car-ind">
		                            <li data-target="#carousel-example-generic2" data-slide-to="0"
		                                style="background-color: rgba(13, 9, 9, 0.46);"></li>
		                            <li data-target="#carousel-example-generic2" data-slide-to="1"
		                                style="background-color: rgba(13, 9, 9, 0.46);"></li>
		                        </ol>
				             <div class="carousel-inner" role="listbox">
				                <div class="item active">
				                <apex:outputpanel rendered="{!IF(lstWrapAccTeam != null ,true,false)}">
				                    <div class="row banking_row"> 
				                      <apex:repeat value="{!lstWrapAccTeam}" var="varTeam"> 
				                          <apex:outputpanel rendered="{!IF(varTeam.teamMemberRole == 'Relationship Manager' ,true,false)}">
				                                <div class="col-md-3" style="margin-top:1%;text-align:center;width:28%">
				                                                   <apex:outputText value="{!varTeam.teamMemberRole}" id="theValue"/><br/> 
				                                                    <apex:image id="theImage1" value="{!varTeam.userUrl}"
				                                                        Styleclass="img-responsive img-circle" style="width:45%;height:70px;margin-left: 25%;margin-top:3%;"/><br />
				                                                    {!varTeam.userName}<br />
				                                                    {!varTeam.phone}<br />
				 
				                                </div>
				                                <div class="col-md-3" style="margin-top:2%;text-align:center;width:35%">
				                                    <b style ="font-size: large;">{!$Label.Your_Next_Appointment}</b><br /><br />
				                                        <b><a href="/BNYMWM/{!varTeam.objEve.id}">{!varTeam.objEve.Subject}<br />
				                                            {!varTeam.strEvent} {!varTeam.eventTime} </a></b><br />
				                                    <div class="schAppBtn">
				                                        <a href="/BNYMWM/apex/Calender?uId={!varTeam.strUserid}"><button type="button" class="btn btn-default"
				                                                Style="/*width: 45%; margin-left: 30%;*/margin-top:10%;">{!$Label.My_Banking_Team_Sch_App}
				                                                </button></a>
				                                    </div>
				                                </div>
				                           </apex:outputpanel>
				                       </apex:repeat>
				                     </div>
				                  </apex:outputpanel>
				                </div>
				                <div class="item">
				                     <apex:outputpanel rendered="{!IF(lstWrapAccTeam != null ,true,false)}">
				                        <div class="row banking_row" > 
				                           <apex:repeat value="{!lstWrapAccTeam}" var="varTeam"> 
				                             <apex:outputpanel rendered="{!IF(varTeam.teamMemberRole == 'Private Banker' ,true,false)}">
				                                <div class="col-md-3" style="margin-top:1%;text-align:center;width:28%">
				                                                   <apex:outputText value="{!varTeam.teamMemberRole}" id="theValu"/><br/> 
				                                                    <apex:image id="theIma" value="{!varTeam.userUrl}"
				                                                        Styleclass="img-responsive img-circle" style="width:45%;height:70px;margin-left: 25%;margin-top: 3%;"/><br />
				                                                    {!varTeam.userName}<br />
				                                                    {!varTeam.phone}<br />
				
				                                </div>
				                                <div class="col-md-3" style="margin-top:2%;text-align:center;width:35%">
				                                    <b style ="font-size: large;">{!$Label.Your_Next_Appointment}</b><br /><br />
				                                    <b><a href="/BNYMWM/{!varTeam.objEve.id}">{!varTeam.objEve.Subject}<br />
				                                    {!varTeam.strEvent} {!varTeam.eventTime}</a></b><br />
				                                    <div class="schAppBtn">
				                                        <a href="/BNYMWM/apex/Calender?uId={!varTeam.strUserid}"><button type="button" class="btn btn-default"
				                                                Style="/*width: 45%; margin-left: 30%;*/margin-top:10%;">{!$Label.My_Banking_Team_Sch_App}
				                                                </button></a>
				                                    </div>
				                                </div>
				                             </apex:outputpanel>
				                         </apex:repeat>
				                         </div>
				                      </apex:outputpanel>
				                  </div>
		                        <!-- Controls -->
		                        <div style="/*position: absolute; bottom: 5px;*/   margin-bottom: -2%;">
		                            <a href="#carousel-example-generic2" data-slide="prev"> <span
		                                class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
		                                <span class="sr-only">Previous</span>
		                            </a> <a href="#carousel-example-generic2" role="button"
		                                data-slide="next"> <span
		                                class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
		                                <span class="sr-only">Next</span>
		                            </a>
		                        </div>
		                    </div>
		                </div>
		              </div>
					</div>
				</div>
			</div>
	
			<div class="box3">
				<div class="col-md-6 panel panel-default">
					<div class="panel-heading " style="background-color: #948F6C">
						<h3 class="panel-title">
							<b style="color: white">{!$Label.My_Net_Worth_Heading}</b>
						</h3>
					</div>
					<div class="panel-body" >
						<div id="carousel-example-generic" class="carousel slide">
							<ol class="carousel-indicators ">
								<li data-target="#carousel-example-generic" data-slide-to="0"
									style="background-color: rgba(13, 9, 9, 0.46);"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"
									style="background-color: rgba(13, 9, 9, 0.46);"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner" role="listbox">
								<div class="item active"
									style="text-align:center;margin-left: 35%;margin-top: 5.6%;/*margin-bottom: 4%;*/">
									<div style="  margin-top: 20%;">
										<h3 style="color: grey;/* margin-left: 3%;*/">
											<apex:outputText value="${0,number,###,###,###,##0.00}">
												<apex:param value="{!netHouseholdWorth}" />
											</apex:outputText>
										</h3>
									</div>
									<br />
									 <div>
									     <b style="color: grey;">{!$Label.My_Net_Worth_Household}</b>
									 </div>
								</div>
								<div class="item"
									style="text-align:center;margin-left: 35%;margin-top: 6%;/* margin-bottom: 4%;*/">
									<div style="  margin-top: 20%;">
										<h3 style="color: grey; /*margin-left: 3%;*/">
											<apex:outputText value="${0,number,###,###,###,##0.00}">
												<apex:param value="{!netWorth}" />
											</apex:outputText>
										</h3>
									</div>
									<br />
									<div >
									     <b style="color: grey;">{!$Label.My_Net_Worth_Label}</b>
									</div>
								</div>
							</div>
							<a href="#carousel-example-generic" data-slide="prev"> <span
								class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> <span
								class="sr-only">Previous</span>
							</a> <a href="#carousel-example-generic" role="button"
								data-slide="next"> <span
								class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
	
			<div class="box4">
				<div class="boxDiv">
					<div class="col-md-6 panel panel-default">
						<div class="panel-heading " style="background-color: #948F6C">
							<h3 class="panel-title">
								<b style="color: white">{!$Label.My_Account_Heading}</b>
							</h3>
						</div>
						<div class="panel-body">
							<div id="carousel-example-generic1" class="carousel slide">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#carousel-example-generic1" data-slide-to="0"
										style="background-color: rgba(13, 9, 9, 0.46);"></li>
									<li data-target="#carousel-example-generic1" data-slide-to="1"
										style="background-color: rgba(13, 9, 9, 0.46);bottom:15%;"></li>
									<li data-target="#carousel-example-generic1" data-slide-to="2"
										style="background-color: rgba(13, 9, 9, 0.46);"></li>
									<li data-target="#carousel-example-generic1" data-slide-to="3"
										style="background-color: rgba(13, 9, 9, 0.46);"></li>
								</ol>
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active chartHeight">
										<!-- 205 for potreit -->
										<div class="row" style="width: 210%;">
											<div class="col-md-3" style="margin-top: 1%;">
												<b style="color: grey;">{!$Label.My_Account_All_Account}</b><br></br> <br></br>
												{!$Label.My_Account_Current_Val}<br /><br /> 
												<h3 style="color: grey; margin-left: 10%;">
													<apex:outputText value="${0,number,###,###,###,##0.00}">
														<apex:param value="{!TotalCurrentValue}" />
													</apex:outputText>
												</h3>
											</div>
											<div class="col-md-3" style="width: 28%;">
												<img id="myAccImg1" src="{!$Resource.transparent_image}" style = "width: 100%;height: 120px;margin-top: 1%;position: absolute;">
													<apex:iframe src="{!strChartUrl}" id="chartIframe" />
											    </img>
											</div>
										</div>
									</div>
									<div class="item">
										<div> 
											<img id="myAccImg" src="{!$Resource.BNYMWM_MY_FA_1D}" class="img-responsive my_fa_img_width"
											Style = "margin-top:0.5%;/*width:85% !important*/"/>
										</div>
										<div class="graph_desktop" id = "wrapper" Style="height: 20px;/*margin-left: 4%;*/">
									        <div class="my_acc_graph_mobile"><a class="anchor_color" href="#" name="1D" onClick="setImage('1D');">1D</a></div>
		       								<div class="my_acc_graph_mobile"><a class="anchor_color" href="#" name="1M" onClick="setImage('1M');">1M</a></div>
		       								<div class="my_acc_graph_mobile"><a class="anchor_color" href="#" name="3M" onClick="setImage('3M');">3M</a></div>
									        <div class="my_acc_graph_mobile"><a class="anchor_color" href="#" name="6M" onClick="setImage('6M');">6M</a></div>
									        <div class="my_acc_graph_mobile"><a class="anchor_color" href="#" name="1Y" onClick="setImage('1Y');">1Y</a></div>
									        <div class="my_acc_graph_mobile"><a class="anchor_color" href="#" name="ALL" onClick="setImage('ALL');">ALL</a></div>
										</div>
									</div>
									<div class="item"
										style="text-align:center;margin-left: 35%;margin-top: 6%; /*margin-bottom: 4.5%;*/">
										<div style="  margin-top: 20%;">
											<h3 style="color: grey;">
												<apex:outputText value="${0,number,###,###,###,##0.00}">
													<apex:param value="{!TotalInvsCurrValue}" />
												</apex:outputText>
											</h3>
										</div>
										<br /> 
										<div >
											<b style="color: grey; /*margin-left: 10%;*/">
												{!$Label.My_Account_Inv_Total} </b>
										</div>
									</div>
									<div class="item"
										style="text-align:center;margin-left: 35%;margin-top: 6%;/*margin-bottom: 4.5%;*/">
										<div style="  margin-top: 20%;">
											<h3 style="color: grey;">
												<apex:outputText value="${0,number,###,###,###,##0.00}">
													<apex:param value="{!TotalBankCurrValue}" />
												</apex:outputText>
											</h3>
										</div>
										<br />
										<div >
											<b style="color: grey; /*margin-left: -2%;*/"> {!$Label.My_Account_Bank_Total}</b>
										</div>
									</div>
								</div>
								<!-- Controls -->
								<div style="position: absolute; bottom: 5px;">
									<a href="#carousel-example-generic1" data-slide="prev"> <span
										class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a> <a href="#carousel-example-generic1" role="button"
										data-slide="next"> <span
										class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<div class="box5">
				<div class="col-md-6 panel panel-default" id="eventdiv">
					<div class="panel-heading " style="background-color: #948F6C">
						<h3 class="panel-title">
							<b style="color: white">{!$Label.My_Event_Heading}</b>
						</h3>
					</div>
					<div class="panel-body" >
						<apex:outputpanel rendered="{!IF(lstwrapCamp.size == 0 ,true,false)}">
							<div class="norecordClass">
								<h3 style="font-size: 20px;">{!$Label.My_Event_No_Records}</h3>
							</div>
						</apex:outputpanel>
						<apex:outputpanel rendered="{!IF(lstwrapCamp.size > 0 ,true,false)}">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="Name" Style="width: 50%">Name</th>
										<th class="StartDate">Start Date</th>
										<th class="StartDate">Your Status</th>
									</tr>
								</thead>
								<tbody>
									<apex:repeat value="{!lstwrapCamp}" var="campMemObj">
										<tr>
											<td style="padding-left: 4%;">{!campMemObj.Name}</td>
											<td style="padding-left: 4%;">{!campMemObj.StartDate}</td>
											<td style="padding-bottom: 0.5%;padding-top: 0.5%;">
												<apex:outputpanel rendered="{!IF(campMemObj.strStatus == 'RSVP',true,false)}">
				 									<img src="{!$Resource.BNYMWM_MY_EVNT_RSVP}" class="img-responsive myEvent-img"/> 
				                                </apex:outputpanel>	
		 										<apex:outputpanel rendered="{!IF(campMemObj.strStatus == 'Maybe',true,false)}">
				 									<img src="{!$Resource.BNYMWM_MY_EVNT_MAYBE}" class="img-responsive myEvent-img"/> 
				                                </apex:outputpanel>
												<apex:outputpanel rendered="{!IF(campMemObj.strStatus == 'Attending',true,false)}">
				 									<img src="{!$Resource.BNYMWM_MY_EVNT_ATTENDING}" class="img-responsive myEvent-img"/> 
				                                </apex:outputpanel>
		                                	</td>
										</tr>
									</apex:repeat>
								</tbody>
							</table>
						</apex:outputpanel> 
					</div>
				</div>
			</div>
	
			<div class="box6">
				<div class="boxDiv">
					<div class="col-md-6 panel panel-default" id="serviceId">
						<div class="panel-heading " style="background-color: #948F6C">
							<a href="/BNYMWM/500/o">
								<h3 class="panel-title">
									<b style="color: white">{!$Label.Open_Support_Heading}</b>
								</h3>
							</a>
						</div>
						<div Style="width: 50%; position: fixed;" >
							<div id="srbtnDiv">
								<a href="{!$label.home_referafriend}"><button type="button"
										class="btn btn-default" style="width: 100%;">Refer a
										Friend</button></a><br /> <a href="{!$label.home_customersupport}"><button
										type="button" class="btn btn-default" style="width: 100%;">Customer
										Support</button></a><br /> <a href="{!$label.home_openanaccount}"><button
										type="button" class="btn btn-default" style="width: 100%;">Open
										an Account</button></a><br />
							</div>
							<div id="recDiv">
								<apex:outputpanel rendered="{!IF(lstcase.size == 0 ,true,false)}">
									<div class="norecordClass">
										<h3 style="font-size: 20px;">{!$Label.Open_Support_No_Records}</h3>
									</div>
								</apex:outputpanel>
								<apex:outputpanel rendered="{!IF(lstcase.size > 0 ,true,false)}">
									<table class="table table-hover">
										<thead>
											<tr>
												<th class="Subject" Style="width: 60%">Subject</th>
												<th class="Status">Status</th>
											</tr>
										</thead>
										<tbody>
											<apex:repeat value="{!lstcase}" var="caseObj">
												<tr>
														<td style="padding-left: 4%;padding-top: 12px;"><a href="/BNYMWM/{!caseObj.id}">{!caseObj.Subject}</a></td>
														<td style="padding-left: 4%;padding-top: 12px;">{!caseObj.Status}</td>
		
												</tr>
											</apex:repeat>
										</tbody>
									</table>
								</apex:outputpanel>
							</div>
						</div>
					</div>
				</div>
		    </div>
		</div>
	</html>
</apex:page>