<apex:page controller="SSEPortalConfigurationMenu" sidebar="false" action="{!updateEmptyUsers}">
    <title>SSE Portal Configuration Menu</title>
    <style type="text/css">
        #templateIcon{
            float:left;
            width:43px;
            height:38px;
            background:url("{!URLFOR($Resource.SSEPortalResources, '/images/SSEPortalIcon.png')}") no-repeat;
            background-size: auto 100%;
        }
        #templateHeader{
            font-size:24px;
            padding:0px 10px 10px 0px;
        }
        #wrapper{
            width: 1114px;
            margin:auto;
        }
        body .bPageBlock{
            background-color:#E6E6E7 !important;
            border-bottom:1px solid #CCCCCC !important;
            border-right:1px solid #CCCCCC !important;
            border-left:1px solid #CCCCCC !important;
        }
        #templateTopText{
            font-size: .9em;
            font-weight: bold;
            color: #4a4a56;
            padding-left: 1px;
        }
        h1 {
            float: left;
            color: #015BA7;
            margin-bottom: 10px;
            font-weight: normal;
            font-size: 14px;
        }
        #backbutton{
            float:right;
            line-height:26px;
        }
        #backbutton:hover{
            cursor:pointer;
        }
    </style>
    <script type="text/javascript">
        function updateUser(userId){
            var e = document.getElementById("select" + userId);
            var templateName = e.options[e.selectedIndex].value;
            SSEPortalConfigurationMenu.updateUser(  userId,
                                                    templateName,                                                        
                function(result, event){  
                    if(event.status){  
                        console.log('User: ' + userId + ' has been updated with template: ' + templateName);
                    }else if(event.type === 'exception'){
                        console.log(event.message);
                    }   
                },{escape:true});
        }
    </script>
    
    <!--Template Assignment-->
    <div id="wrapper">
        <div id="templateIcon"></div>
        <div id="templateTopText">Demo Template</div>
        <div id="templateHeader">Template Assignment <h1 id="backbutton" onclick="history.back()">Back</h1></div>
        <apex:form >
            <apex:pageBlock tabStyle="Org_Template__c">
                <apex:pageBlockTable value="{!allUsers}" var="user">
                    <apex:column headerValue="User">
                        <a href="/{!user.id}?noredirect=1">{!user.name}</a>
                    </apex:column>
                    <apex:column headerValue="Template">
                        <select onChange="updateUser('{!user.id}');" id="select{!user.id}">
                            <apex:repeat value="{!allTemplates}" var="template">
                                <apex:outputPanel layout="span" rendered="{!template.name == user.Branding_Template__c}">
                                    <option value="{!template.name}" selected="true">{!template.name}</option>
                                </apex:outputPanel>
                                <apex:outputPanel layout="span" rendered="{!template.name != user.Branding_Template__c}">
                                    <option value="{!template.name}">{!template.name}</option>
                                </apex:outputPanel>
                            </apex:repeat>
                        </select>
                    </apex:column>
                    <br/>
                </apex:pageBlockTable>
            </apex:pageBlock>
        </apex:form>
    </div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46606102-1', 'salesforce.com');
  ga('send', 'pageview');

</script>
</apex:page>