<apex:component access="global" controller="locale_formatted_datetime_Controller"> 
<apex:attribute assignTo="{!date_time}" description="The DateTime value to be rendered based upon the user's locale" name="date_time_value" type="DateTime"></apex:attribute>
{!TimeZoneValue}
</apex:component>