<apex:page standardController="goalgamiPro__ASI_Account_Group__c" extensions="goalgamiPro.ASI_RelatedGroupMembersClass">
	<apex:form >
		<style> 
			.actionLinkClass{
			color: #015BA7 !important;
			}
		</style>
		<script>
		 	/** Function to open Edit Member URL**/
			function editMember(memberId,groupId){
				window.open("/"+memberId+"/e?retURL=%2F"+groupId, "_parent");
			} 
			 
			/** Function to open new Member URL **/
			function newMember(url,gpName,gpId){
				window.open("/"+'{!JSENCODE(memberPrefix)}' +"/e?CF"+'{!JSENCODE(fieldId)}'+"="+gpName+"&retURL=%2F"+gpId, "_parent");
			}
			
			/** Function to open delete Member URL **/
			function deleteMember(memberId,gpId){
				window.open("/apex/ASI_DeleteGroupMemberPage?id="+memberId+"&retURL=%2F"+gpId, "_parent");
			}
		</script> 
		<apex:pageBlock >
		<center><apex:commandButton value="New Account Group Member" onclick="newMember('{!URLFOR($Action.ASI_Account_Group_Member__c.New,null)}','{!accGroup.name}','{!accGroup.id}');"/></center>
			<apex:pageBlockSection columns="1">
				<apex:pageBlockTable value="{!memberWrapperList}" var="member">
					<apex:column >
                     	<apex:facet name="header">
                        	<apex:outputText value="Action"/>
                        </apex:facet>                        	
                       	<apex:commandLink styleclass="actionLinkClass" value="Edit" onclick="editMember('{!member.memberId}','{!accGroup.id}');" rerender="dummy" />
                       	|
                       	<apex:commandLink styleclass="actionLinkClass" value=" Del" onclick="deleteMember('{!member.memberId}','{!accGroup.id}');" rerender="dummy" />
                     </apex:column>
					<apex:column >
                     	<apex:facet name="header">
                        	<apex:outputText value="Group Member"/>
                        </apex:facet> 
                                              	
                       	<apex:commandLink value="{!member.name}" action="{!URLFOR($Action.Account.View,member.accountId)}" target="_parent" />
                     </apex:column>
                     <apex:column >
                     	<apex:facet name="header">
                        	<apex:outputText value="Email"/>
                        </apex:facet>                        	
                       	<apex:outputText value="{!member.email}" />
                     </apex:column>
                     <apex:column >
                     	<apex:facet name="header">
                        	<apex:outputText value="Phone"/>
                        </apex:facet>                        	
                       	<apex:outputText value="{!member.phone }" />
                     </apex:column>
     
                     <apex:column >
                     	<apex:facet name="header">
                        	<apex:outputText value="Gender"/>
                        </apex:facet>                        	
                       	<apex:outputText value="{!member.gender}" />
                     </apex:column>
                     <apex:column >
                     	<apex:facet name="header">
                        	<apex:outputText value="Birthdate"/>
                        </apex:facet>                        	
                       	<apex:outputText value="{!member.birthdate}"/>
                     </apex:column>
                     <apex:column >
                     	<apex:facet name="header">
                        	<apex:outputText value="Current Age"/>
                        </apex:facet>                        	
                       	<apex:outputText value="{!member.age}" />
                     </apex:column>
				</apex:pageBlockTable>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>